[2013-09-16 22:01] freeslugs opened #2 "Do you have any links to examples online?"
i'd like to see if it works on ios, android, etc.

[2013-09-17 18:33] #2 closed, assigned to nobody

[2014-06-12 20:33] MorganConrad opened #6 "Add an "allDay" option"
e.g., if event.allDay is true, generate
`DTSTART;VALUE=DATE:20140721  and
DTEND;VALUE=DATE:20140721`

e.g., around line 159, add

[code]

[2014-06-17 11:25] #6 closed, assigned to sebbo2002

[2014-06-17 11:46] sebbo2002 opened #7 "ical-generator for the browser"

[2014-08-19 22:54] heff opened #10 "Repeating events?"
Is there a way to create repeating events?

[2014-09-29 06:38] J-Katzen opened #12 "attendees"
Would be nice if this could support attendees.

[2014-10-24 05:33] leeqiang opened #15 "Why getUTC??? in _formatDate"
like

[code]

3 is wrong, why getUTCDate, not getDate?

[2014-10-24 05:55] #15 closed, assigned to nobody

[2014-10-29 02:35] leeqiang opened #16 "Chinese garbled"
![issue_img](https://cloud.githubusercontent.com/assets/1450957/4820388/c3a4492c-5f14-11e4-954d-b0d562538179.png)

i try to set charset is `utf8` , but dont work.

help, thx.

[2014-11-19 18:39] jugglinmike opened #18 "Standard Time Zones"
[Section 3.2.19 of RFC5545](https://tools.ietf.org/html/rfc5545#section-3.2.19) specifies a "Time Zone Identifier". Example:

Ideally, this could be controlled via the existing `setTZ` method, but I don't think the features are compatible. Although the spec notes that there is no convention for the value of `TZID`, Thunderbird (for example) accepts values like "America/New_York" but rejects values

[2014-11-19 19:00] #10 closed, assigned to nobody

[2014-11-20 07:30] #16 closed, assigned to nobody

[2014-11-20 16:28] #18 closed, assigned to nobody

[2015-01-13 18:27] AzadMemon commented on #12
+1. This would make your ical stand out among the rest. I haven't been able to find one that supports attendees.

[2015-01-22 13:22] slava-tre commented on #12
need attendees as well =(

[2015-01-22 13:39] sebbo2002 commented on #12
I will add attendees after my exams. Stay tuned…

[2015-01-22 15:20] #7 closed

[2015-01-23 12:20] florianreinhart opened #19 "Support for alarms"
Would be great to have support for alarms: https://tools.ietf.org/html/rfc5545#section-3.6.6

[2015-03-01 17:10] sebbo2002 commented on #12
I just pushed ical-generator 0.2.0 with a new API and attendees :tada:
But the old 0.1.x API *should* still work…

[2015-03-01 17:10] #12 closed

[2015-03-01 19:24] sebbo2002 commented on #19
Support for Alarms is planned for 0.2.1…

[2015-03-28 22:59] ethanresnick opened #21 "Use \r\n for new lines instead of \n"
This is per [section 4.1](https://www.ietf.org/rfc/rfc2445.txt) of the spec: "Content lines are delimited by a line break, which is a CRLF sequence (US-ASCII decimal 13, followed by US-ASCII decimal 10)."

It shouldn't be too big a change, and may help some clients with parsing the generated feed.

[2015-03-31 08:37] sebbo2002 opened #22 "CATEGORY Support"
As in Pull Request #20

[2015-04-02 19:45] #19 closed

[2015-04-02 19:45] #21 closed

[2015-04-02 21:10] ethanresnick commented on #21
Thanks @sebbo2002! This is great.

[2015-08-18 18:46] hryanjones opened #24 "CUTYPE"
How do you feel about adding in CUTYPE ([reference RFC](https://tools.ietf.org/html/rfc2445#section-4.2.3))? If you like I can try my hand and creating a PR?

[2015-08-23 11:17] sebbo2002 commented on #24
Merged in [v0.2.3](https://github.com/sebbo2002/ical-generator/releases/tag/0.2.3). Thank you :smile:

[2015-08-23 11:17] #24 closed

[2015-08-23 20:42] hryanjones commented on #24
Thanks :)

[2015-09-15 05:24] haydenbleasel opened #27 "Recreate iCal object with String"
Hello,

I'm wondering whether it's possible to do the following:

[code]

The reason is that I can't save the full object on my database as the functions turn into empty objects i.e.

[code]

[2015-09-20 10:30] sebbo2002 commented on #27
Since a few minutes you can use the new [toJSON()](https://github.com/sebbo2002/ical-generator#tojson) to get the full object. Then you can pass it to ical() to "re-open" the calendar. Hope that helps…

[2015-09-20 10:30] #27 closed

[2015-12-07 20:03] kkozlik opened #28 "UID contain start date"
What is the reason the UID in generated ical contain the start date?

g += 'UID:' + __tools.formatDate(data.start)__ + '-' + data.id + '@' + calendar.domain() + '\r\n';

With this it is not possible to update existing events. The updates have to have same UID. And even if I set the same uid using uid() function, the UID in generated file differs.

[2015-12-07 20:08] sebbo2002 commented on #28
To be honest: I have no idea… 🙈
I fix this tomorrow morning, thank you.

[2015-12-08 04:35] takkaria opened #29 "Allow no end date specified"
According to the iCal specification, section 3.6.1, DTEND is an optional component of events.  Please could ical-generator allow the non-specification of end times?

Reference: https://tools.ietf.org/html/rfc5545#section-3.6.1

[2015-12-08 08:23] #28 closed

[2015-12-08 08:41] sebbo2002 commented on #29
Published version 0.2.5 right now, which contains your changes. Thanks for your pull requests…

[2015-12-08 08:41] #29 closed

[2015-12-11 11:34] eajimmy opened #35 "Problem in start/end/timestamp creation"
Hi all,
I've found a problem in event.js part, where there is the date control:
(!(start instanceof Date) || !start.getTime())
it fails in case of the date 01/01/1970 00:00:00, because getTime() returns 0 that is false, even though the date is valid. It's possible to change it with a clever control or just checking only the instanceof?

Many Thanks,
eajimmy

[2015-12-14 21:38] sebbo2002 commented on #35
Yep, that was kind of stupid, sorry for that. I'll replace that soon…

[code]

[2015-12-14 21:44] #35 closed

[2015-12-18 23:44] bostondevin opened #36 "Timezones are always in East Coast format"
What is the correct format for the timezone name? Using "America/Boise" which i'm getting from moment.js I should be in that timezone, but when I open this in outlook, it's in East Coast timezone:

BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//sebbo.net//ical-generator//EN
NAME:Demo Calendar
X-WR-CALNAME:Demo Calendar
TIMEZONE-ID:America/Boise
X-WR-TIMEZONE:America/Boise
BEGIN:VEVENT
UID:ysc6@http://local

[2015-12-19 02:35] takkaria commented on #36
If you want to mark the event as being in the 'America/Boise' timezone, then you need to set the timezone on the event as that as well as the one in the calendar (and make sure that the start and end times you're providing are in local time).

[2015-12-29 18:29] bricous opened #37 "X-WR-CALDESC please"
With google, when consuming iCalendar feeds, the iCal extension X-WR-CALNAME is ignored, but the corresponding description property X-WR-CALDESC is used for calendar description.

Can add this propertie please.

Thank you.

[2015-12-29 22:18] sebbo2002 commented on #37
I'll have a look next year ;)

[2016-01-11 11:13] sebbo2002 commented on #36
Unfortunately some clients don't handle UTC timestamps as my calendar app does.

As @takkaria pointed out, you need to set the timestamp on each event as well. This will get changed in a future version, so the event's timezone inherits from the calendar's one.

[2016-01-23 16:43] sebbo2002 commented on #36
I close this issue for now, please reopen if there are any questions left…

[2016-01-23 16:43] #36 closed

[2016-01-23 17:00] #37 closed

[2016-01-26 06:03] bostondevin commented on #36
I vote for baking this in. Update the replicable structures and add them as maybe an includable js that just has it all in it. The community will enjoy - your the best so far on this.

[2016-05-01 17:00] HaNdTriX opened #38 "allDay option doesn't reflect timezone"
First of all thanks for this awesome lib.
I noticed that the `allday` option doesn't work properly.

ical-generator uses the UTC Time to generate the full day.
In a time Zone (e.g. `Europe/Berlin`) this might result in a different day.
### Example:

[code]
### Code to reproduce:

[code]
### Solution:

Normally using UTC Dates on the server is of course the right way to go.
But since the value type

[2016-05-03 07:46] sebbo2002 commented on #38
Thank you for your exemplary bug report, i think I get your point here. Unfortunately, the solution is not a real one:

### Case 1 with local time
[code]
The start time would be `DTSTART;VALUE=DATE:20160501`, which would be correct in this case.

### Case 2 with local time
[code]
In this case, the start time would be `DTSTART;VALUE=DATE:20160430`, which is obviously wrong.

To be onest, I have no

[2016-05-03 14:10] takkaria commented on #38
Here's a sketch of one approach to take.

Use [moment-timezone], which is a widely-used date library that also understands timezones.  It provides an object, 'moment', which wraps the JavaScript native Date object but also provides new functionality, which means it's backwards compatible while still providing extra, better, functionality.  For more info the front page of http://momentjs.com/ and t

[2016-05-03 18:33] HaNdTriX commented on #38
Thanks for your quick and detailed response.
For now I fixed the issue by removing the timezone offset, before passing the date to ical-generator.

    if(allDay) {
      startDate.setMinutes(startDate.getMinutes() - startDate.getTimezoneOffset());
    }

[2016-06-30 21:09] wraybowling commented on #38
Using the iCal generator on http://apps.marudot.com/ical/ you're asked to set your timezone before generating the file which lead me to believe that it makes use of that factor for "all day" events.

I think the only factors in play in the file generated below are `DTSTART;VALUE=DATE:20160704` to set the start date, perhaps `BEGIN:DAYLIGHT`, and in relation `TZOFFSETFROM:-0500`, `TZOFFSETTO:-0400`

[2016-08-04 17:52] noushka86 opened #41 "How to make the the browser to download the file"
I dont understand what to do after creating the event object.
how to I save it as a ics file and make the browser download it?
sorry, I'm new...

[2016-08-06 12:39] takkaria commented on #41
Once you have your calendar object, if you have a node HTTP response object, you can call <calendar objejct>.serve(<response object>).  e.g.

[code]

This sets the correct HTTP headers for the content type as well as a 'Content-Disposition: attachment' header which tells the browser it should download it instead of showing it.

[2016-08-11 20:40] beetsauce opened #42 "HTML support"
There doesn't currently appear to be any support for adding HTML to the description field (X_ALT_DESC). Is there currently a method available to achieve this, or is that a feature that you are looking to add down the road?

[2016-08-27 20:33] #41 closed

[2016-08-27 20:39] sebbo2002 commented on #42
It's currently not supported, but I try to add it to the next version…

[2016-09-03 04:10] ocelotsloth opened #43 "Exclude Days from Recurring Events"
Awesome library! @srct is looking into including it in our project at [git.gmu.edu/srct/schedules](https://git.gmu.edu/srct/schedules), but we need to be able to exclude individual days from the recurrence.

Looking at the library, I'm thinking it would make sense to add an array to store the date objects here (https://github.com/sebbo2002/ical-generator/blob/develop/lib/event.js#L130), and then f

[2016-09-03 04:42] ocelotsloth commented on #43
Well, turns out it wasn't very complicated, or at least I think. It would need some test cases written for it I'm sure, but I think that this would do the trick:

All under `event.js`:

Inside the `Repeating` section:
[code]

And then under the `generate()` function:
[code]

[2016-09-06 02:13] jtwalters opened #45 "Typo: tenative/TENATIVE"
Should be tentative/TENTATIVE for the event status.

[2016-09-13 19:22] #42 closed

[2016-09-14 10:10] #43 closed

[2016-09-30 16:18] sedenardi opened #46 "Lines exceed 75-byte limit"
According to the [spec](https://tools.ietf.org/html/rfc5545#section-3.1):

   break.  Long content lines SHOULD be split into a multiple line
   representations using a line "folding" technique.  That is, a long
   line can be split between any two characters by inserting a CRLF
   immediately followed by a single linear white-space character (i.e.,
   SPACE or HTAB).  Any sequence of CRLF followe

[2016-09-30 16:24] ocelotsloth commented on #46
+1

[2016-09-30 16:25] ocelotsloth commented on #46
Worth also nothing the final format example for writing test cases.
[code]

[2016-10-19 10:54] deostroll opened #49 "Shouldn't the timezone be considered?"
First off, nice job...

But I think you may have an error at this line...

https://github.com/sebbo2002/ical-generator/blob/develop/lib/_tools.js#L44

The `formatDateTZ` function should actually return the date/time as per target timezone, (i.e., the calendar timezone). However, the string returned gives the UTC time which I think is probably a mistake.

[2016-10-20 00:45] chaitanyaprem opened #50 "Question: Updating an existing ics file"
I would like to know if if the .ics file saved to the disk can be updated using this package. This way we can update the events in case of rescheduling or adding more attendees at later point in time. I couldn't find an API that would read from the ics file to create a ical object so that update for same event can be done.

[2016-10-20 14:28] takkaria commented on #50
You might want to use the [ical](https://www.npmjs.com/package/ical) package for that.

[2016-10-20 14:35] takkaria commented on #49
Yeah, at the moment timezone support is fudged a bit (I wrote this bit).  Using UTC is obviously not correct, but neither is using the local time set on the Date object, because the timezone being output in the ical file will not necessarily be the machine's local date.  It seemed to be more straightforward and predictable to use UTC dates in this case.

I think the solution would be to pull in mo

[2016-10-20 14:39] sebbo2002 commented on #50
You can use `toJSON()` to save your calendar's state and update it, but it's not not implemented nor planned to parse ical files. As @takkaria mentioned, you can use other packages to solve this problem…

[2016-10-20 14:39] #50 closed

[2016-10-20 14:45] sebbo2002 commented on #49
As long as using UTC datetimes works in nearly every client I would stick to this solution, because it's not possible to detect the end users location and timezone right now.

Did you have any issues with UTC dates?

[2016-12-31 19:32] ocelotsloth commented on #49
+1 to using `moment-timezone`. It's what I'm using in git.gmu.edu/srct/schedules and it's a bit hard to follow what happens to the timezones and the times themselves between going into and out `ical-generator`.

[2017-01-10 03:08] ocelotsloth opened #52 "UTC vs Floating Time not represented"
## tl;dr The Problem
Currently, UTC time is the assumption when it should instead be floating time.

**Important Note:** This is at the _event_ level, not the calendar level.

## Example/Details
To explain let's look at the `example_toString.js` file and how it works/behaves:

### The JavaScript / Intent
This is the relevant code in the example described above:
[code]
Specifically, the `start` and

[2017-01-10 03:21] ocelotsloth commented on #52
Upon further inspection, I think I found the bug, looking at `event.js` and specifically the `generate` method:

https://github.com/sebbo2002/ical-generator/blob/1b3bc74d90f5365756a0db765e35af6275b6e088/lib/event.js#L689-L693
[code]
At the function call to `tools.formatDate(data.start, true)` shouldn't that `true` be instead the value of `data.floating`?

[2017-01-10 03:28] ocelotsloth commented on #52
After fixing that issue, I found an additional problem. The current implementation still uses the UTC time instead of local when generating the time strings, just doesn't add the Z onto the end.

[code]

from:
[code]

[2017-01-10 03:58] ocelotsloth opened #54 "Test cases not using just the indicated functions"
Many of the test cases are using the full calendar api, which makes it difficult to isolate individual problems. If, for example, a test case dealing with event generation directly called the `generate()` function it would make things much simpler to diagnose and write test cases for.

I'll be the first to admit that this is a pretty large undertaking.

[2017-01-11 15:50] sebbo2002 commented on #54
Roger that, it's very frustrating, but I don't plan to change this in ical-generator 2.x.
But it's on my list for 3.x - sorry…

[2017-01-11 15:52] sebbo2002 commented on #52
As I noted [here](https://github.com/sebbo2002/ical-generator/pull/53#issuecomment-271904291), I think it's better to wait till I build the 3.0, as that's a minor change and there are other breaking topics on my list as well.

[2017-02-06 07:30] houxg opened #56 "long description will be wrap as multiple line"
for example, the input is:
[code]
the ouput:
[code]
gmail can't recognized the description in output file.

[2017-02-07 12:43] ocelotsloth commented on #56
This is expected behavior. If you look at RFC 5545 3.1 it says:
[code]

[2017-02-07 12:44] ocelotsloth commented on #56
Oh you know what, I think I figured it out. That output should look like this I think:

[code]

[2017-02-07 18:48] houxg commented on #56
I have tried to manually adding extra space to the third line, it works! hope to fix this problem in the latest version

[2017-02-09 18:03] houxg commented on #56
My mistake, the Gmail parse the .ical file well with the current line folding. mybe something wrong with my code, however I can't reproduce it.

[2017-02-09 18:03] #56 closed

[2017-03-18 02:58] Buckaroo9 opened #59 "Incorrect Formatting Show on Firefox & Tor (Fine with Chrome & IE)"
Had some strange formatting with the input bars on Firefox and Tor, can anyone repeat?
Running Firefox 52.0 on a 1920x1080 screen at 100% zoom.
![ical view](https://cloud.githubusercontent.com/assets/21959742/24068446/3ff0eeb4-0b65-11e7-8b34-c61b83865a45.PNG)

[2017-03-18 03:01] Buckaroo9 opened #60 "Classes appear on calendar after the last day of classes for semester?"
Could we have the software grab the correct last date of classes, or possibly have the user manually input the end date for the repetition?

[2017-04-09 00:27] AntoineTurmel opened #61 "What client do you use for webcal/ical link ?"
This is not really an issue for this project, more like a question, what client do you use to fetch your webcal/ical links ?
Thunderbird is fine since you can define the time to refresh the ical, but other apps like Google Calendar/Nextcloud/Owncloud tend to have a long cache time and are not showing updates/new events.

I use to restart my node.js script to update/add my events... maybe it's not

[2017-04-11 07:40] kvdmolen opened #62 "Can't import URL to any calendar"
Hi,

I've setup the first example. It works, I can download the event, but I can't feed the URL to my Google Calendar.

Is this a bug or a non-existing feature?

[2017-04-11 16:38] AntoineTurmel commented on #62
Hmm have you tried listening to 0.0.0.0 instead of 127.0.0.1 ?

[2017-04-11 17:06] kvdmolen commented on #62
I'm serving it in an online environment (to be able to load into Google Calendar). So I only have an API URL.

Code Snippet:

[code]

Works for downloading the `ics` file but not for URL import in calendar..

[2017-04-11 21:54] sebbo2002 commented on #62
Can't reproduce, can you provide us a test URL?

[2017-04-12 06:50] kvdmolen commented on #62
https://www.fundo.co/ical/14991 (this will download the `.ics` directly)

[2017-04-22 18:56] ocelotsloth commented on #60
@Buckaroo9 I'm confused as to what you're asking here...are you sure this is an issue with the NPM module?

[2017-04-22 19:00] ocelotsloth commented on #60
Just as a shot in the dark....looking at how you have starred a couple of @srct 's projects, are you talking about schedules.gmu.edu? If so you should report this issue over at https://git.gmu.edu/srct/gmucal-legacy/

[2017-04-22 19:06] ocelotsloth commented on #59
You should report this issue over at https://git.gmu.edu/srct/gmucal-legacy/ ....this project is entirely unrelated to that site.

[2017-06-22 07:08] #60 closed

[2017-07-13 07:31] Regaddi opened #64 "Error in webpack"
Hi,

when trying to require ical-generator via `const ical = require('ical-generator');` webpack throws the following error:

[code]

Can't get it up and running 😢

[2017-07-13 07:45] Regaddi commented on #64
Nevermind. It was totally webpack related and had nothing to do with your package 😄

[2017-07-13 07:45] #64 closed

[2017-07-14 18:05] AxelTheGerman commented on #62
The URL does no longer work, but just to double check. Did you set the correct headers on the response?

Example from a blog post using a different library
[code]

Also I think Google Calendar requires a `.ics` URL

[2017-08-01 09:03] stefanvds1 opened #65 "Attendee roles missing"
Attendee roles can be 4 values:
https://tools.ietf.org/html/rfc2445#page-29

CHAIR and OPT-PARTICIPANT are missing.

[2017-08-28 19:19] #62 closed

[2017-08-28 19:19] #59 closed

[2017-08-28 19:22] sebbo2002 commented on #61
I use the native Calendar on macOS mainly. Sorry for the delay…

[2017-08-28 19:22] #61 closed

[2017-09-14 13:01] ykorach opened #67 ""\r\n " is wrongly inserted in attendee email"
Hey I create event with the following code:
[code]
this is will log :
[code]
("\r\n " is wrongly inserted between ".c" and "om" )
off course i logged the `options.email, name: options.name`  before and they looked fine,
Am I missing anything?

[2017-09-14 13:38] AndrewLane commented on #67
Are you sure it's not just working how the RFC-5545 spec says it should work as far as max lengths of lines?

https://tools.ietf.org/html/rfc5545#section-3.1

[2017-09-14 21:44] ykorach commented on #67
OK , so this is what I was missing...
Thank's a lot @AndrewLane !

[2017-09-18 07:02] SadSeep opened #68 "Uncaught TypeError: this.__defineNonEnumerable is not a function"

[2017-09-18 07:02] SadSeep commented on #68
trying to create event

[2017-09-18 07:11] #68 closed

[2017-09-18 07:14] SadSeep commented on #68
sorry, The issue was on my client. please dont be bothered abt this. O:)

[2017-10-13 17:26] AndrewLane commented on #67
@ykorach you can probably close this PR, right?

[2017-10-15 20:23] #67 closed

[2017-10-26 21:29] sebbo2002 opened #72 "ical-generator 1.0"
This issue should represent the current state of the ical-generator 3.0 rebuilding…

#### General
- [x] make all the tests green again 🙈

#### Deployment & Distribution
- [x] ES6 & browserify
- [x] node's require, basic inline, ES6 Module ES5 Module, AMD
- [x] browser support
- [x] browser tests
- [x] new CI Build Pipeline
    - [x] install
    - [x] build (build browser, build amd, checks)
    -

[2017-10-30 03:36] MDrooker opened #73 "htmlDescription not outputting"
Seems like this line -
var attributes = ['id', 'uid', 'sequence', 'start', 'end', 'timezone', 'stamp', 'timestamp', 'allDay', 'floating', 'repeating', 'summary', 'location', 'description', 'organizer', 'attendees', 'alarms', 'method', 'status', 'url'],

is Missing the 'htmlDescription' attribute...so it wont output toString()

I added it-
var attributes = ['id', 'uid', 'sequence', 'start', 'end',

[2017-11-15 15:57] rally25rs commented on #64
@Regaddi do you remember what you did to "fix" this? Did you just have webpack ignore the `fs` package?

[2017-11-15 16:21] sebbo2002 commented on #64
@rally25rs I'll add this to the docs later, thank you!

[2017-11-29 14:16] antoinerousseau commented on #72
looking good! can't wait :)

[2018-01-11 22:17] benglass opened #76 "Don't rely on non-standard RegExp.$1-$9"
Nice library, was going to use it but can't because we are using babel to transpile our code and the way this project uses RegExp.$1 seems to be incompatible with babel compilation. This is a non-standard feature and does not appear to be working in combination with babel compilation.

From MDN

**"This feature is non-standard and is not on a standards track"**

https://developer.mozilla.org/en-US

[2018-01-12 13:51] AndrewLane commented on #76
@benglass  This seems like a pretty easy thing to fix.  Are you working on a PR to fix this?  If not, I can probably throw one in.

[2018-01-12 14:35] benglass commented on #76
@AndrewLane Agreed, should be an easy fix. I'm not working on a PR as we ended up using a different ical package due to this issue but if this gets addressed here we might switch to use this one as we like that it only relies on moment whereas the other package relies on more deps.

[2018-01-12 19:10] AndrewLane commented on #76
Hopefully https://github.com/sebbo2002/ical-generator/pull/77 is the fix you were looking for, @benglass

[2018-01-12 19:44] benglass commented on #76
@AndrewLane just what I had in mind! Hope this lands in a release soon!

[2018-01-15 09:13] sebbo2002 commented on #76
Pull Request merged. Due to my bachelor thesis, I currently lack in releasing the version. See #72 for the current state for ical-generator 3.0.

[2018-01-15 09:13] #76 closed

[2018-01-19 01:33] qxl1231 opened #78 "why my RSVP button didnot show?"
![image](https://user-images.githubusercontent.com/8305742/35130416-b514be40-fcfb-11e7-8c5e-a01245b105e3.png)
![image](https://user-images.githubusercontent.com/8305742/35130417-b6c47050-fcfb-11e7-90b3-c643de2ad2de.png)

where is the problem? needs help, 3Q

[2018-01-19 01:35] qxl1231 commented on #78
pic 2 is the result i need, but my ical didnot show this 3 button

[2018-01-19 09:34] sebbo2002 commented on #78
Please provide a code example, otherwise it would be pure error guessing.

[2018-01-24 20:53] sebbo2002 commented on #78
Please reopen this issue in case you are still affected by this issue and you are able to provide some example code. Tank you.

[2018-01-24 20:53] #78 closed

[2018-01-24 20:55] sebbo2002 commented on #73
Thanks @opravil-jan for fixing this in #79. 👌🏼

[2018-01-24 20:55] #73 closed

[2018-01-25 04:57] qxl1231 commented on #78
yes,it not resolved. the code is

`
var ical = require('ical-generator');

var calIns = ical({
  prodId: '//superman-industries.com//ical-generator//EN',
  method: 'request',
  CALSCALE: 'GREGORIAN',
  events: [
    {
      sequence: 2,
      start: new Date(),
      end: new Date(new Date().getTime() + 3600000),
      timestamp: new Date(),
      summary: 'My Event',
      location: '上海',
      s

[2018-01-25 05:50] qxl1231 commented on #78
@sebbo2002  and the file is

[code]

[2018-01-25 05:55] qxl1231 commented on #78
![image](https://user-images.githubusercontent.com/8305742/35372894-23ac4a8c-01d7-11e8-89a8-635817e338ec.png)
first is wrong pic,

this is want pic ,
![image](https://user-images.githubusercontent.com/8305742/35372948-66654e3c-01d7-11e8-8eb5-e01226b1af5d.png)

[2018-02-17 15:20] krokhale opened #80 "Quick question"
Maybe i don't understand how iCal works, but my initial impression was that you create an event object and send it along as a string or invite.ics in your email.

Why does one need a server?

Any help understanding the flow is appreciated!

[2018-02-17 15:25] sebbo2002 commented on #80
That's the truth. However, it is also possible to deliver an ics file via a web server. The user can then subscribe to this URL in his or her calendar. This has the advantage that changes to this file lead to changes in the user's calendar.

This library has the method `serve()`, which is mainly intended for testing the calendar files. The method `toString()` can also be used to request the string

[2018-02-17 15:25] #80 closed

[2018-03-11 12:43] sharanya5 opened #81 "Attendees failing to load"
Hi,

I have been trying to generate ical files with this library. However, importing them on google  calendar fails to load the list of attendees, even though it shows up fine when the same ics file was sent as an email attachment instead. Here is the code,
[code]
and .ics file output :
Any help would be appreciated.
Thanks

[2018-04-06 18:40] prosomoff opened #82 "htmlDescription missing from attributes in event constructor"
html description for body of event not working due to the value missing in attributes array.  Currently:
var attributes = ['id', 'uid', 'sequence', 'start', 'end', 'timezone', 'stamp', 'timestamp', 'allDay', 'floating', 'repeating', 'summary', 'location', 'description', 'organizer', 'attendees', 'alarms', 'method', 'status', 'url'],
        vars,
        i,
        data;
SHOULD BE:
var attributes

[2018-04-06 19:03] sebbo2002 commented on #82
Thats already fixed in `develop`, see [here](https://github.com/sebbo2002/ical-generator/blob/develop/src/event.js#L53). You'll see it live in ical-generator 3.0.

Please reopen the issue if I have misunderstood something.

[2018-04-06 19:03] #82 closed

[2018-04-06 19:50] prosomoff commented on #82
All good, thanks.

From: Sebastian [mailto:notifications@github.com]
Sent: Friday, April 06, 2018 2:03 PM
To: sebbo2002/ical-generator
Cc: Rosomoff, Peter A. (EHQ); Author
Subject: [EXTERNAL] Re: [sebbo2002/ical-generator] htmlDescription missing from attributes in event constructor (#82)

Thats already fixed in develop, see here<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_sebb

[2018-04-18 08:58] qxl1231 opened #83 "generated a invite.ics file,but no accept/decline button in email detail?"
[code]

here is my ics file,use npm :ical-generator the result is like this ,the email has a invite.ics file,but no accept/decline button in email detail, if click the file, in calendar there has accept/decline button,but my boss need to see the button in email

[2018-04-18 09:00] qxl1231 commented on #83
[code]

[2018-04-20 15:48] sebbo2002 commented on #83
I'm sorry, but I'm not able to provide support for different email clients. The file looks valid to me, so I would close the issue now. If you have general questions about ical-generator, please contact me again.

[2018-04-20 15:48] #83 closed

[2018-06-16 16:59] sebbo2002 commented on #38
ical-generator 3.0 now uses moment-timezone, so this issue should be fixed. I also added the above example in the [unit tests](https://github.com/sebbo2002/ical-generator/blob/develop/test/test_issues.js#L8). You can test the current develop with `npm i ical-generator@next`.

[2018-06-16 16:59] #38 closed

[2018-06-16 17:06] sebbo2002 commented on #49
ical-generator 3.0 now uses moment-timezone, so this issue should be fixed. I also added the above example in the [unit tests](https://github.com/sebbo2002/ical-generator/blob/develop/test/test_issues.js#L8). You can test the current develop with `npm i ical-generator@next`.

[2018-06-16 17:06] #49 closed

[2018-06-16 17:12] sebbo2002 commented on #52
With the current develop, timestamps should be output correctly via the local timestamp or via UTC. Can the issue be closed or is there still something to do here and if so, what?

[2018-06-16 21:39] sebbo2002 commented on #65
This is implemented in 97bf95aa5cc49ad93b9506f34bf365aea1556f6f. You can use it by installing the current development version (`npm i ical-generator@next`).

[2018-06-16 21:39] #65 closed

[2018-06-29 05:43] KumailHussain opened #84 "Error during installation"
I installed the package

 **npm install ical-generator**

gives me following error

npm ERR! Unexpected end of JSON input while parsing near '...shasum":"dd07a3c8543b'

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\user1\AppData\Roaming\npm-cache\_logs\2018-06-29T05_40_58_347Z-debug.log
PS E:\AOTC\aotc-new> npm install ical-generator --save
npm ERR! Unexpected end of J

[2018-06-29 07:05] sebbo2002 commented on #84
Can you please send me the content of your debug.log file in (`C:\Users\user1\AppData\Roaming\npm-cache_logs\2018-06-29T05_40_58_347Z-debug.log`)? I think it's not a problem with this particular module…

[2018-06-29 07:32] sebbo2002 commented on #84
This error occurs before downloading the module, so it's not a problem of this package. Please try to update node and npm to the current version, [clear your npm cache](https://docs.npmjs.com/troubleshooting/try-clearing-the-npm-cache) and try again.

[2018-06-29 07:32] #84 closed

[2018-06-30 06:17] KumailHussain opened #85 "cal.createAlarm is not a function"
as documented i added the alarm script to my code but getting error create alarm is not a function

`var cal = ical();

cal.setDomain('http://asp.pp/').setName('satrrer');

cal.addEvent({
    start: eventObj.start,
    end: eventObj.end,
    summary: eventObj.title,
    uid: eventObj.id, // Some unique identifier
    sequence: 0,
    description: eventObj.description,
    location: eventObj.locati

[2018-07-02 10:18] KumailHussain opened #86 "cancel event"
can we cancel calendar invite?

[2018-07-02 10:19] sebbo2002 commented on #86
You can use [`status()`](https://github.com/sebbo2002/ical-generator#statusstring-status) to mark an event as cancelled.

[2018-07-02 10:19] #86 closed

[2018-07-02 10:32] KumailHussain commented on #86
attendees: {"email": "a@example.com", "name": "Person A","status": "declined"}
Outlook is still showing the event

[2018-07-02 10:37] KumailHussain opened #87 "Cancel event"
attendees: {"email": "a@example.com", "name": "Person A","status": "declined"}
and also

event.status = 'cancelled';

Outlook is still showing the event

BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//sebbo.net//ical-generator//EN
METHOD:REQUEST
NAME:Timeline Event Notifications
X-WR-CALNAME:Timeline Event Notifications
BEGIN:VEVENT
UID:1530526467079@http://aotasdt/
SEQUENCE:0
DTSTAMP:20180702T105939Z
DTST

[2018-07-02 10:50] sebbo2002 commented on #86
If you do not want to show the event you have to remove it from the definition completely.

[2018-07-02 21:03] sebbo2002 commented on #87
Please so not open multiple issues for the same question. I already answered your question before.

[2018-07-02 21:03] #87 closed

[2018-07-03 05:35] KumailHussain commented on #86
poor documentation

for canceling an event

method should be **cancel not request** not mentioned in the documentation

and UID should be same

[2018-07-03 05:50] sebbo2002 commented on #86
This project has not set itself the goal of explaining ical. The official documents should always be studied for this purpose. However, pull requests are always welcome for suggestions on how to improve the documentation.

[2018-07-14 17:50] #22 closed

[2018-07-14 17:54] sebbo2002 commented on #52
Closing due to inactivity. Please reopen in case this is not fixed…

[2018-07-14 17:54] #52 closed

[2018-07-14 18:17] sebbo2002 commented on #72
I think we're done… 🙌🏼

[2018-07-14 18:17] #72 closed

[2018-07-19 04:30] yuanzong opened #88 "Is there a reason to include node_modules.tar.gz in the published npm package?"
it adds about 20mb payload to an otherwise tiny module

[2018-07-19 06:38] sebbo2002 commented on #88
Oh, crap. That wasn't the way it was supposed to be. That's a bug of course, I'll fix it later.

[2018-07-20 09:37] kusmierz opened #90 "Publish pre-compiled for npm"
It is not possible to minify the current (1.0.1) version, as it is not compiled to ES5 before publishing to npm. Could you pre-compile it, please?

Read more https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-build-fails-to-minify

[2018-07-20 15:02] sebbo2002 commented on #88
Released version 1.0.2 with a fix. Thanks for reporting…

[2018-07-20 15:02] #88 closed

[2018-07-24 01:48] radicand opened #91 "Consider using Luxon instead of Moment"
Luxon is more lightweight than Moment (especially when you factor in moment-timezone), while still maintaining most of its functionality (and more). It's made by one of the Moment maintainers and supported by that team. You can read conversion guide notes here: https://moment.github.io/luxon/docs/manual/moment.html

It's kind of a waste to bundle in moment-timezone when Luxon is able to do the zon

[2018-07-24 07:12] NiclasvanEyk opened #92 "Bug in the type definitions"
Hi, if I start using your library in an typescript application, I get the following error:
[code]

In https://github.com/sebbo2002/ical-generator/blob/develop/index.d.ts#L54 your are using the `moment` namespace as a type, I think it should be `moment.Moment | Date` there, just like the `end` property.

[2018-07-24 19:41] jamiri opened #94 "Repeating events in google are duplicated for the first occurrence"
I have a repeating event and prevented it from being duplicated by writing my code as:

    const event = {}
    const now = new Date()
    event.start = now
    event.allDay = true
    event.summary = name + '\'s birthday'
    const createdEvent = cal.createEvent(event)
    createdEvent.repeating({
        freq: 'YEARLY',
        count: 150,
        exclude: now
    })

But this causes duplicated

[2018-07-30 13:03] sebbo2002 commented on #94
I tried this locally, the ical file looks fine to me. Since I don't use Google Calendar, I can't really help there. But I can leave this issue open, maybe someone who knows the answer will come by.

[2018-08-03 17:30] avitaldrucker commented on #41
@takkaria This does not work for me. I'm creating and serving the calendar on the backend and when I call the route on the frontend, nothing is downloaded. My backend code:
[code]
My frontend in React using Fetch:
`const res = await (await post('no-excuses/events'))`

[2018-08-03 17:54] takkaria commented on #41
I haven't used this library for a couple of years or needed to force downloads, but the way a server can trigger a download is by setting the `Content-Disposition` header to `attachment`.  ical-generator does this, so your problem is really that `fetch()` does not respond to that header.
 Googling [`fetch() content-disposition attachment`](https://www.google.co.uk/search?q=fetch()+content-disposit

[2018-08-05 18:26] #92 closed

[2018-08-13 14:48] visiongeist opened #98 "Synchronisation of accept/decline"
This is more of a general question. How do you sync accept/decline replies of emails sent among all recipients?

[2018-08-15 23:22] leoarnold opened #99 "ICalTools.formatDate should not modify UTC"
This test case looks odd to me:

https://github.com/sebbo2002/ical-generator/blob/da17861d95537dddc96fa18c3c4f86296b25d984/test/test_tools.js#L38-L41

Both the input and the output date end on the letter `Z` denoting UTC, hence reformatting should not shift the time, no matter in which timezone the reformatting is performed.

[2018-08-16 11:16] alexpanchuk opened #100 "Failed to minify the code"
Hi =) Got the error, when building my project, using create-react-app
[code]

[Here](https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-build-fails-to-minify) they sad, that is because you

Thank you!)

[2018-08-17 09:03] JoelParke opened #101 "Loss of timestamp in EventData?? And cal.serve(...) changed!!!"
I noticed in upgrading from 0.2.10 to the 'latest', that the interface of EventData is now:
[code]
AND timestamp is now gone.  Is this replaced by stamp? which I suspect?
Also cal.serve(res) now fails...
In the upgrade is this now `cal.serve(res, ???)` and what is this filename?
Thanks!

[2018-08-17 09:41] sebbo2002 commented on #101
- `timestamp/stamp` both are fine as `stamp` is an alias of `timestamp`. It just got lost during the rewrite. This should be fixed in `index.d.ts`.
- `cal.serve()` fails: What's the exception thrown? Or why do you think this method works not as expected?
- Filename of `cal.serve()`: It's the filename used when downloading the calendar file. The default value is `calendar.ics`, so if you set it to

[2018-08-17 18:42] JoelParke commented on #101
Thanks very much for the quick response!
I am attempting to determine why the calendar is not being served.  If keep seeing (bad gateway - 502).  But the lines being shown from the error throw makes no sense yet...
Stay tuned...

[2018-08-17 19:09] sebbo2002 commented on #101
Okay, please reopen if anything is unclear.

[2018-08-17 19:09] #101 closed

[2018-08-17 19:15] JoelParke commented on #101
It took a while (because the line numbers in the code were very unclear) to learn that I had an undefined variable which was throwing an error.  SO the good news is that the ical.serve is working properly!  Thanks.

I would perhaps suggest that you shift the ICalCalendar definition to:

[code]
to allow the typescript to accept a ical.serve(res) without any errors.
Thanks very much for the work, no

[2018-08-23 17:22] straczowski opened #103 "TypeScript transpile breaks"
Hello together

i am not able to run `tsc` in my project

i got the following Error:

[code]

i am using
`ical-generator`:`^1.0.3`
`typescript`:`2.6.2`
any idea how i can fi this?

thx in advance :)

[2018-08-24 16:42] sebbo2002 commented on #99
Seems like @leoarnold is right here. Have to check, why this is happening here…

[2018-08-24 16:46] sebbo2002 commented on #103
Since I do not use a typescript, I cannot answer your question with the necessary technical knowledge. Looks like an error in index.d.ts:257. Feel free to send a pull request in case it's an error in our definition file. Thank you.

[2018-08-24 16:46] #103 closed

[2018-09-11 08:09] santillaner opened #106 "latest release does not work"
When I ```require("ical-generator")``` on node 6 node 8 and node 10, I get
[code]

Both on Mac OS X and on Ubuntu. This happened since yesterday's release. Before that, it worked fine.

[2018-09-11 20:11] newtang opened #107 "Repeating exclusions don't handle all day very well."
If you have a repeating all day event with an exclusion, it won't work very well. I've tried importing the result in Google Calendar and iCal and the the exclusion is always ignored.  I believe in the repeating exclusion code, there needs to be a check for `if (this._data.allDay) `  and to prepend the date value with `VALUE=DATE:`

[2018-09-17 12:57] ayyouboulidi opened #109 "Attendee option "status" NEEDS-ACTION not authorized"
The list of authorized values for Attendees Status is not the right one.

ACCEPTED, TENTATIVE, DECLINED, DELEGATED! are the current authorized values.

NEEDS-ACTION should be added to the list of status authorized for attendees

[2018-09-29 16:28] sebbo2002 commented on #109
Close this PR, as it's handled in #111…

[2018-09-29 16:28] #109 closed

[2018-09-29 16:29] sebbo2002 commented on #107
Will look into this for on of the next versions, thank you!

[2018-09-29 16:32] sebbo2002 commented on #107
Oh. Just saw you your PR #108. Will have a look into this next week, thank you.

[2018-09-29 16:32] #107 closed

[2018-09-30 00:25] 1000i100 opened #112 "GEO"
As specified, there is not only location but also geo position (gps) :
https://tools.ietf.org/html/rfc5545#section-3.8.1.6
It look like : `GEO:37.386013;-122.082932`

It look easy to add : A unit test similar to location and probably the same in src, with few contols :
geo must be 2 floats with ';' between them.

[2018-10-08 02:58] brianhv commented on #106
Is it possible this mistake crept back into 1.2.0? I'm getting a `Cannot find module` error with 1.2.0 but not with 1.1.1.

[2018-10-08 04:46] sebbo2002 commented on #106
@brianhv A pretty same one, I'm sorry. Published 1.2.1 a few seconds ago…

[2018-10-08 12:32] brianhv commented on #106
1.2.1 works. Thanks for the quick fix!

[2018-10-09 10:07] aDeadFish commented on #86
Hi! How to remove it from the definition completely?

[2018-10-09 16:30] medbejimbj opened #114 "Problem : Exports and export assignments are not permitted in module augmentations"
Hi,
I use ical in my TS nodejs project like this  in my service file :

import * as ical from 'ical-generator';
after :
const cal = ical({
            name: 'project-name',
        });
and I use createEvent function like in documentation.

It works fine in dev mode , when I build my project I get this message :

node_modules/ical-generator/index.d.ts:257:3 - error TS2666: Exports and export assign

[2018-10-12 07:47] sebbo2002 commented on #114
Since I don't use a type script, I'm unfortunately not able to provide support for it. Therefore I have to close the issue. The file `index.d.ts` was added by a pull request I tried to keep updated manually. If the file is faulty, please provide a new pull request.

[2018-10-12 07:47] #114 closed

[2018-10-13 08:04] medbejimbj commented on #114
I found an interim solution for that, which is to import the dist directory :
`import * as ical from 'ical-generator/dist';`
The time to make a pull request.

[2018-10-14 12:45] lucasfischer opened #115 "add more server examples"
It would be very helpful if there were more examples of using `Calendar.serve(res);` with different libraries like Express, Koa or Micro.

I would work on that if you would merge my PR 😊.

[2018-10-14 12:58] lucasfischer opened #116 "Calendar.serve with authentication"
I think it would be really helpful if there were a way to use some kind of authentication in the `Calendar.serve()` function. Some iCals must not be public.

I suggest something like `Calendar.serve(response, filename, {username: 'username', password: 'password'})`.

If you give me your okay, I would start working on it.

[2018-10-15 17:00] Tacklebox opened #117 "Floating event date-times not floating"
I am creating events in the form
`event = {
start: start_dt,
end: end_dt,
floating: true,
...
}`
and to_string is still writing out utc times like
DTSTAMP:20181015T165419Z
DTSTART:20180905T163000Z
DTEND:20180905T172000Z

Floating dates need to be floating (no trailing Z and not in a timezone) so BYDAY repeating rules end up on the correct day.

[2018-10-15 20:33] Tacklebox commented on #117
Oops, I had a separate issue with moment-timezone/webpack that was causing this, closing this.

[2018-10-15 20:33] #117 closed

[2018-10-15 20:45] sebbo2002 commented on #115
10/10, would merge. 👌🏼

[2018-10-17 07:27] #115 closed

[2018-10-17 13:02] billyshena commented on #38
Great news @sebbo2002 ! Is the 3.0 version still available ? Because running `npm i ical-generator@next` gives me the following error:

<img width="344" alt="capture d ecran 2018-10-17 a 15 02 16" src="https://user-images.githubusercontent.com/6057397/47087981-b5284580-d21d-11e8-8eb3-efc4ee486a30.png">

[2018-10-17 13:04] sebbo2002 commented on #38
@billyshena 3.x is now our main version, so you can run `npm i ical-generator` to install it…

[2018-10-17 18:19] billyshena commented on #38
Just got my version updated, thanks @sebbo2002 !

[2018-10-19 15:52] billyshena commented on #38
@sebbo2002 We are facing a small issue about timezone parsing.

Here is an example:

// The Event is well formatted in the Europe/Paris timezone
const cal = ical({ name: calendarObj.name, timezone: 'Europe/Paris' })
cal.createEvent({ start: ..., end: ..., timezone: 'Europe/Paris' })

// The Event is still formatted in Europe/Paris timezone
const cal = ical({ name: calendarObj.name, timezone: 'Euro

[2018-10-22 15:44] VSchlattinger opened #119 "Organizer EMAIL= in addition to mailto:"
I would like to create an .ics file where the `organizer` has an `EMAIL` attribute in addition to the `mailto:` value.

For example, when I send an invitation with Apple Calendar, the `organizer` line in the .ics file will look like this:

[code]

where `<Name>` is my name, `<EMAIL>` is my actual email address (e.g. example@gmail.com) and `<SOMEID>` is a seemingly random sequence of characters.

T

[2018-10-22 16:44] sebbo2002 commented on #119
No, this feature is not implemented yet. But it sounds to me like that should change. I'll leave this here and implement it if I can find the time. Otherwise, of course, pull requests are also welcome. To do this, `Attendee` would have to be extended by a `mailto` method and the updated generation code.

[2018-10-23 14:39] VSchlattinger commented on #119
I created a pull request for this: https://github.com/sebbo2002/ical-generator/pull/120

Please take a look and tell me if there is something I should change.

[2018-10-24 15:50] #119 closed

[2018-10-29 06:41] rabpeter opened #121 "error in typescript express"
when I call cal.serve(res), I'm getting this issue.

[code]

[2018-11-03 16:00] sebbo2002 commented on #121
Seems to be a bug in the typescript definition…

[2018-11-03 20:32] newtang opened #122 "Include VTimezone"
I would love to see `VTIMEZONE` included in the ical-generator. Some calendars are fine without them, like iCal, and Google, however Outlook requires a `VTIMEZONE` section when a timezone is used, otherwise it won't parse. I imagine there are other calendars that are also sticklers as well.

I imagine this could work by bundling in the [information from here](https://github.com/libical/libical/tre

[2018-11-13 18:15] farhadSagar opened #123 "Support for repeating bySetPos"
Currently don't see the support for bySetPos for repeating events. It would be nice to have that support.

[2018-11-13 20:16] farhadSagar commented on #123
@sebbo2002 I have a pr ready for review, can you add me as a Collaborators so that I can push and create a PR?

[2018-11-13 20:39] farhadSagar commented on #123
@sebbo2002 PR for this issue: https://github.com/sebbo2002/ical-generator/pull/124

[2018-11-18 21:59] ScottChapman opened #125 "Having some difficulty with timezones"
So I am generating an iCal feed, and subscribing to it from my google calendar.

My ical/events look like:
[code]

What's happening is my event is showing up starting at 7PM one day and ends 7PM the next day:
![image](https://user-images.githubusercontent.com/1517892/48678583-41969280-eb53-11e8-8173-e92e5148cdb7.png)

Any ideas?

[2018-11-19 18:22] antoinerousseau opened #126 "No changelog?"
How can I know the potential breaking changes between 0.x and 1.x?

[2018-11-20 05:34] sebbo2002 commented on #126
As there where no known breaking changes, I removed the notice section with 0.3. Introducing a changelog is on my todo list as well, but I need to find some time to go through all the previous versions. Feel free to submit a PR if you want to.

[2018-11-23 07:43] ivanbreet commented on #121
Hi, we are also getting some TypeScript related errors:
[code]

[2018-11-24 11:44] sebbo2002 commented on #125
For all day events you need to set the [`allDay` option](https://github.com/sebbo2002/ical-generator#alldayboolean-allday).

[2018-11-24 11:44] #125 closed

[2018-11-24 11:44] sebbo2002 commented on #123
Merged PR, so closing this one here. Thanks.

[2018-11-24 11:44] #123 closed

[2018-11-24 13:32] ScottChapman commented on #125
Right, but my question was more about why there is an apparent timeshift. I don't understand why all my time zones are the same (including my client location) and the times are all midnight, but the times appear as 7pm.

I do realize that a way to "fix" this is to use full-day events (which I am now doing anyway), but I still see this shift for events that are not full-day events.

[2018-11-24 17:46] sebbo2002 commented on #90
Closing as #105 got merged…

[2018-11-24 17:46] #90 closed

[2018-11-24 17:57] sebbo2002 commented on #125
Hmm. The ical seems to look quite fine for me, but I have no Google Account to test this. You may want to test it with UTC timestamps, maybe that will work…

[2018-11-24 19:01] ScottChapman commented on #125
yea, I know right?

I'll try UTC for everything and see how that behaves.

Thanks!

[2018-11-27 20:30] dploeger opened #129 "Support X-* properties"
It would be great, if ical-generator would support vendor-specific X-* properties (I'm currently using a platform, that uses X-PROP-REGION, X-PROP-FEES and other properties)

[2018-11-28 14:54] dploeger commented on #129
@sebbo2002 I could create a PR for this if you're basically willing to accept it. Or do you want to check the voting on it first?

[2018-11-28 15:05] sebbo2002 commented on #129
I think it's a very custom feature which is required by very few people. As I want ical-generator to be a small library which does not claim to be the right tool for every usecase, I would like to prefer seeing others demanding this feature before merging it. Feel free to fork this repo to fulfil your needs if you can't wait.

[2018-11-28 15:08] dploeger commented on #129
Okay, thanks. I will go with ical-toolkit then. They already have this feature.

[2018-11-28 15:10] sebbo2002 commented on #129
If it's okay for you I'll reopen this issue to track further demand.

[2018-11-28 15:11] dploeger commented on #129
Yes, sure.

[2018-12-02 23:59] lshe7842 opened #130 "Repeating event not showing up on OS X calendar upon importing"
Hey there, getting issue when importing an ics file generated by ical-generator. What I'm generating is a series of repeating events like this:

`cal.createEvent({
              start: moment('2018-12-04T06:00:00'),
              summary: 'Test repeat',
              description: 'Test how iCal repeat works',
              location: 'Home',
          }).repeating({
            freq: 'HOURLY',

[2018-12-03 00:35] lshe7842 commented on #130
Update: this doesn't seem to be an issue with this package. It seems the calendar app itself doesn't support this. Also tried to import into google calendar, get the same result.

Any clues?

[2018-12-03 04:19] sebbo2002 commented on #130
According to my information, many clients unfortunately only support daily repetition and greater. I had already thought about removing this in ical-generator. But since it is a valid ical, but I left it in.

[2018-12-03 04:19] #130 closed

[2018-12-04 11:31] lshe7842 commented on #130
Yep. Further investigation I did proved that both ios and google calendar don't support recurrence more frequent than daily. Thanks for closing this @sebbo2002 .

[2018-12-07 04:52] evelynhathaway opened #133 "Accepted types for uid"
Re: [Comment on PR #132](https://github.com/sebbo2002/ical-generator/pull/132/files/333a55bb7825a9af4012af183bfc535302c6dd19#r239693611)

I noticed the type definitions for `uid`'s method parameters and returned values were always strings, and I assumed the docs were incorrect, but then I later saw there is a [test](https://github.com/sebbo2002/ical-generator/blob/develop/test/test_event.js#L56) f

[2018-12-07 05:41] evelynhathaway commented on #103
I am new to TypeScript; however, I noticed that pulling down #128 resolved this error. My best guess as to why is given [this comment](https://github.com/Microsoft/TypeScript/issues/11133#issuecomment-249673608), is that the imports before the module declaration make TypeScript assume that it's a module argumentation.

[2018-12-10 19:08] sebbo2002 commented on #133
The support for integers in uid() is from the first version of this module and has been allowed until now. I don't recommend it, but without good reason I couldn't bring myself to change this behavior so far.

That's right, you could actually change that.

In order to maintain backward compatibility, I would not want to change anything about this procedure unless there is a reason that I am overlo

[2018-12-12 06:37] evelynhathaway commented on #133
Will do. 😄

Yeah, I agree. I will leave the method untouched unless you think that there is something to gain by changing the number to a string before assigning to `_data` so that the method always returns a string.

[2019-01-03 03:05] evelynhathaway commented on #133
I am back from holiday, and so I made two PRs that resolve the topics discussed in this issue. Let me know if you have any questions. 😄

[2019-01-03 17:57] sebbo2002 commented on #133
Nice one, I'll try to have a look at it this weekend…

[2019-01-04 16:52] innerdaze opened #137 "Organizer fields should be optional"
From the ietf spec, it seems all the fields for Organizer are optional, yet this module requires both name and email to exist.

[2019-01-07 16:55] sebbo2002 commented on #133
Both perfect pull requests, thanks for your collaboration… ❤️

[2019-01-07 16:55] #133 closed

[2019-01-13 00:43] evelynhathaway commented on #121
@ivanbreet I had the same issues and is now fixed in `v1.4.2` 😄

[2019-01-14 19:37] sebbo2002 opened #141 "Remove yarn.lock"
As yarn is able to import it's dependency tree from `package-lock.json` since yarn 1.7.0, we can remove `yarn.lock` and generate it within the CI process.

- [ ] remove yarn.lock
- [ ] run `yarn import` before publishing

[2019-01-14 19:41] #121 closed

[2019-01-14 19:41] #141 closed

[2019-02-04 04:43] #99 closed

[2019-02-05 10:24] ernho opened #144 "Process should not be killed when data are not valid"
this is not good that the process is killed

Error: Unhandled "error" event. (`organizer` isn't formated correctly. See https://github.com/sebbo2002/ical-generator#organizerstringobject-organizer)
   at Function.emit (events.js:186:19)
   at Immediate._onImmediate (/node-shared/node_modules/mongoose/lib/query.js:3128:23)
   at runCallback (timers.js:810:20)
   at tryOnImmediate (timers.js:768:5)

[2019-02-05 12:39] sebbo2002 commented on #144
Please use [`try`/`catch`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/try...catch) to handle these errors as the process is killed by node itself. This library only throws an error.

Please reopen this issue in case you have additional questions regarding this topic.

[2019-02-05 12:39] #144 closed

[2019-02-07 12:28] edtexcodes opened #145 "Cancel or reschedule recurring event."
how can we give a recurrence-id in order to specify a particular event date-time to cancel that event in a recurring event?

[2019-02-07 12:46] sebbo2002 commented on #145
This feature is currently not implemented in ical-generator. Sorry…

[2019-02-07 12:46] #145 closed

[2019-02-07 22:41] ultrex opened #146 "The events ´s times are not respect when the file is readed"
When the file .ics is readed by any platform as outlook, the times of the events are shown with another time zone, although  I set a time zone in the configuration of the file:

const cal = ical({domain: 'domain.com', name: 'Calendar name', timezone: 'UTC'});

any idea?

[2019-02-07 23:01] #146 closed, assigned to nobody

[2019-02-15 10:05] visiongeist commented on #119
@VSchlattinger I know out of scope.. but stupid question, which server are you using for synchronisation?

[2019-02-21 20:59] sedenardi commented on #145
@sebbo2002 Hi there, would you be receptive to a pull-request implementing this feature?

[2019-02-24 18:50] andersonsantos opened #148 "Is there a way to define and output CALSCALE:GREGORIAN for the calendar ics?"
Is there a way to define and output CALSCALE:GREGORIAN for the calendar ics?

[2019-02-26 14:12] sebbo2002 commented on #148
Currently that's not possible, sorry.

[2019-03-02 20:41] ztretterath opened #149 "TypeError: __webpack_require__(...).writeFile is not a function"
I am trying to sync my in-app calendar data with iCal.

Mapping over my schedule events, creating events with `cal` then saving.

The error I am seeing makes me think I do not have `fs` installed (fs.writeFile) but I do.

Thank you in advance for any insight.

[code]

[2019-03-05 07:41] sebbo2002 commented on #149
`cal.createEvent` is sync, so you woun't need your `Promise.all`. Please note that [save()](https://github.com/sebbo2002/ical-generator#savestring-file-function-cb) has different arguments. Also, if you don't use catch save() errors, use saveSync() instead.

[code]

[2019-03-05 07:41] #149 closed

[2019-03-05 15:52] ztretterath commented on #149
@sebbo2002 - this is great, thank you for your prompt response and assistance.

[2019-03-15 11:14] SergijeRaz opened #150 "Daylight saving time changes during the recurring sequence"
## Current behavior
In Outlook or Thunderbird, if the daylight saving time change date is in the middle of the recurring sequence, all appointments after it are one hour off. Also, if any of the appointments in that sequence after the time change are excluded, they dont dissapear in the calendar since the times are off by an hour so they aren't recognized. If the beginning of the sequence is after

[2019-03-17 20:59] NickCis opened #152 "Events: Timezone (using & property setting)"
I have several question regarding timezone setting for specific properties.

I've checked that the library for [`DTSTART`](https://github.com/sebbo2002/ical-generator/blob/aa59dddaf0224fe39ea46afea94d6dc0ba991d9c/src/event.js#L978) and [`DTEND`](https://github.com/sebbo2002/ical-generator/blob/aa59dddaf0224fe39ea46afea94d6dc0ba991d9c/src/event.js#L980) properties is using the calendar timezone, sh

[2019-03-18 16:37] christopherread opened #153 "Proposal to add color property to ical.EventData"
Hello, if I understand the specification correctly, iCalendar supports a `COLOR` property for events:
https://tools.ietf.org/html/rfc7986#section-5.9

What do you think?

Reviewing your `_generate()` function, this doesn't look difficult to add, so I would be happy to submit a PR if you will accept it.

[2019-03-22 02:42] NickCis opened #154 "Wrong time when Event's and calendar timezone are different"
When having different timezones in the event and then calendar, properties that set `TZID` (`DTSTART`, `DTEND`, `RECURRENCE-ID`) format the time value with the calendar's timezone, while outputing the event's timezone in the `TZID` property.

Code example:
[code]

Output:
[code]
The `DTSTART` value is incorrect:
[code]
As the time in `America/La_Paz` is `20190321215612`.

It's related with #152

[2019-03-26 21:56] filetvignon commented on #129
I guess this is pretty useful if you want to make your ics file compatible with outlook?

[2019-04-08 19:09] sebbo2002 commented on #150
That shouldn't be the case if you use `timezone()` to set the event's timezone correctly. Otherwise it's UTC and woun't respond to your local time changes.

[2019-04-08 19:20] sebbo2002 commented on #152
It does? It just uses the calendar's timezone in case we don't have a valid timezone set.

They should. See below.

I thought about that as well. I prefer to use moment-timezone, so we don't need a custom interface here as moment-timezone is already supported. Since that would be a breaking change, I'm just putting it off a little bit. Sorry for that.

[2019-04-08 19:26] sebbo2002 commented on #153
I think it's a very custom feature which is required by very few people. As I want ical-generator to be a small library which does not claim to be the right tool for every usecase, I would like to prefer seeing others demanding this feature before merging it. Feel free to fork this repo to fulfil your needs if you can't wait.

[2019-04-08 19:31] sebbo2002 commented on #154
Thanks for your contribution! ❤️

[2019-04-08 19:31] #154 closed

[2019-04-09 01:59] NickCis commented on #154
Thank you for the great lib :smile:

[2019-04-14 05:06] NickCis commented on #152
I was referring to #154 . It's already fixed.

Oh, I didn't know that the `moment` object was storing the timezone data, I thought it was only for formatting purposes. It's a great idea to use that `moment-timezone` object.

The idea will be to use the `moment` object's timezone, if it is set (I'll check for that data via the `.tz()` method). If the `moment`'s object hasn't got timezone informatio

[2019-04-15 04:40] sebbo2002 commented on #152
Exactly. 😊

[2019-04-20 17:29] marfnk commented on #153
I'd really like this feature, too. :)

[2019-04-21 06:40] marfnk commented on #153
I added the color field manually with string replace just to learn that Google Calendar and Calendar for Mac are ignoring the color fields. 😢

[2019-04-23 19:09] newtang commented on #153
Maybe instead of a specific color property, there could be a generic `custom` property, that takes an object with key-value pairs? Then we could allow some fields like color, without expressly supporting them.

[2019-06-11 05:58] akshayrajput-coditas commented on #83
Hi, Although this issue is closed, I will like to add something to same, I was having the same issue, changed method from 'publish', to 'request' and it fixed my issue.

[2019-07-12 18:47] apnerve commented on #122
This would be so much useful!

[2019-07-13 06:16] apnerve commented on #122
BTW, since `moment-timezone` is already used, the information can be fetched from `moment-timezone` itself as mentioned in this [answer](https://stackoverflow.com/a/54556645/69310) on StackOverflow

[2019-07-18 13:41] ostroffsky opened #157 "Apple Calendar app support"
It seems like `GEO` field doesn't work properly in apple calendar app until legacy format `X-APPLE-STRUCTURED-LOCATION` is used.

[2019-07-19 04:36] sebbo2002 commented on #157
Unfortunately, these two fields are not compatible, the Apple format needs the title of the locality and the address in addition to the coordinate. I haven't tried to find out if the field will work on Apple devices without these two information, you might have to do that.

[2019-08-07 07:10] sebbo2002 commented on #94
Close the issue due to inactivity. Hope the problem has been solved elsewhere.

[2019-08-07 07:10] #94 closed

[2019-08-07 07:12] sebbo2002 commented on #98
Sorry, Issue overlooked. What do you mean with "sync accept/decline replies"? Can you describe that in more detail?

[2019-08-07 07:14] visiongeist commented on #98
if a user clicks on "accept" or "decline" the other recipients should see that in the participant list. Similar as outlook does if you create an invite on the exchange server

[2019-08-07 07:23] sebbo2002 commented on #98
You need a backend which receives the invitation reply mails, parses them and updates the attendee's status in a database or so. After that, the ical reply can be updated accordingly.

[2019-08-07 07:24] visiongeist commented on #98
I though so. I was just hoping that there is an OOTB solution ;-)

[2019-08-07 07:24] visiongeist commented on #98
thanks anyways for the cool library

[2019-08-07 07:26] sebbo2002 commented on #98
No, sorry. This is a pain unfortunately.

Thank you. Ans sorry, for that embarrassing delay. Please ping the thread next time, so that woun't happen again.

I close this issue. Please reopen in case you have additional questions.

[2019-08-07 07:26] #98 closed

[2019-08-07 07:27] sebbo2002 commented on #150
Close the issue due to inactivity. Hope the problem has been solved elsewhere.

[2019-08-07 07:27] #150 closed

[2019-08-07 07:29] sebbo2002 commented on #152
This topic should have been finished some time ago, because we now use moment-timezone. Do I see that right? I would close the issue. If I miss something, I would like to open it again.

[2019-08-07 07:29] #152 closed

[2019-08-07 07:34] sebbo2002 commented on #153
So I think this feature is obsolet? Does anyone still need this? //cc @christopherread @marfnk

We've been through this before. At that time we had rejected it, because there are some fields with different requirements (e.g. escaping). Then you would have to do it all yourself again. And then the sense gets lost somehow.

I'd close the issue until somebody called in with a "I still need this." The

[2019-08-07 07:34] #153 closed

[2019-08-20 19:46] Sparticuz commented on #129
Instead of creating methods for each X- property, I think it would be a good idea to have cal.custom("PROP-REGION",value) that would add X-PROP-REGION with the value to the object. That would give us total customization and low code impact.

[2019-08-23 17:25] tejasvinishelar opened #158 "Blob is not defined at ICalCalendar.toURL"
I want to the download URL of my event.

const cal = ical();

		cal.events([
    	{
            start: new Date(),
            end: new Date(new Date().getTime() + 3600000),
            summary: 'Example Event',
            description: 'It works ;)',
            url: 'http://sebbo.net/'
    	}
		]);

		cal.events();
		console.log("_____URL______",cal.events());

		var url = await cal.toURL()
		aw

[2019-08-26 09:22] sebbo2002 commented on #158
I assume that you use this library client side, not with node.js. Seems like you used an unsupported browser [without blob support](https://caniuse.com/#feat=bloburls). You need a polyfill to support these browsers as well.

Please reopen this issue in case there are related questions.

[2019-08-26 09:22] #158 closed

[2019-09-03 17:44] #148 closed

[2019-09-04 09:32] dertieran opened #161 "Passing moment object throws error if versions are different"
I run into issues when passing a `moment` object that has a different version than the one used by `moment-timezone`.

I have both `moment@2.24.0` and `ical-generator@1.8.0` in my project.
For me this resolves in this dependency tree in a project:

[code]

_Note: When I tried to do this in isolation it deduped moment correctly :sweat_smile:_

When I then create an event I get an error

[code]

The

[2019-09-04 09:38] sebbo2002 commented on #161
Ou. Never happend to me, thank you. Have you tried this with `momen.isMoment`? Does that really solve the problem, or does it also result in `false` when it comes to different versions?

Would be happy about a PR, otherwise I'll do it the next days as soon as I get there.

[2019-09-04 09:50] dertieran commented on #161
Yea I think that is a rare issue, and I couldn't really reproduce it in a minimal test case by just `npm i moment ical-generator` :sweat_smile:

But I just tested this in the project that produced the above dependency tree:
[code]

I will open a PR for that, thanks for the quick response.

[2019-09-04 10:11] #161 closed

[2019-09-12 15:18] CExSMcKinnon opened #163 "Include PRIORITY attribute"
The priority attribute for iCal events isn't handled. It would be nice if it was possible to set the priority of an event using ical-generator.

[2019-10-01 00:07] cburkhardtBB opened #165 "Include 'busystatus' in class ICalEvent"
Although the documentation shows 'busystatus' (busystatus([String busystatus])) as an available method under API > Event, 'busystatus' is not included in the class ICalEvent.

[2019-10-02 03:36] sebbo2002 commented on #165
[Should be there](https://github.com/sebbo2002/ical-generator/blob/develop/src/event.js#L862). Can you provide a code sample to test with? Which version of ical-generator do you use?

[2019-10-02 07:57] cburkhardtBB commented on #165
@sebbo2002 I just installed the latest version of the package because I need to send an .ics file that includes FREEBUSY;FBTYPE=FREE.

I checked your README before installing the package and saw the that you have 'busystatus' listed as a method with `free, tentative, busy, oof` statuses. (In the **Event** section)

After installing the package, I checked the ical-generator/index.d.ts file that con

[2019-10-02 16:24] sebbo2002 commented on #165
Ah. I see. It's missing in the typescript definition. Really have to find a way to validate these with the current implementation. I hope I can get this fixed in the next few days.

[2019-10-04 13:35] Sparticuz commented on #112
Does #142 close this or is there more work that needs to be done?

[2019-10-04 16:25] sebbo2002 commented on #112
@Sparticuz No, should be all done here. Thank you.

@1000i100 If I'm missing something, please reopen this issue.

[2019-10-04 16:25] #112 closed

[2019-10-04 17:09] sebbo2002 commented on #165
@cburkhardtBB Just pushed a fixed version to develop. Can you confirm that it's working there?

[2019-10-15 11:44] cburkhardtBB commented on #165
LGTM 👍 I see the definition now and its working for me. Thanks! 🙇

[2019-10-15 11:44] #165 closed

[2019-10-17 08:08] Fristi commented on #129
Would love to see this

[2019-10-19 22:42] JamilOmar opened #167 "Use with Outlook"
I tried to use it with Outlook , but the html description is not formated properly, any idea how to solve it ?

[2019-10-21 16:47] focux commented on #157
@sebbo2002 Are you still planning to implement this?

[2019-10-21 16:48] rickhernandezio opened #169 "Local time to UTC and then back to local time"
I have a set of events that are in local time. The time the user belongs to, this could be any time zone.

We use this local time to set up the ical events.

[code]

Then we set the timezone at the ical configuration level.

[code]

The expected behavior is to have events in PDT timezone.

Actual behavior is they are in UTC in Google Calendar, and Calendar for Mac.

The documentation is a bit vagu

[2019-10-21 19:36] sebbo2002 commented on #167
As I don't use Outlook, I'm unable to do any ical client support here. Sorry. Please reopen in case you have an issue with the generated ical content.

[2019-10-21 19:36] #167 closed

[2019-10-21 19:39] sebbo2002 commented on #169
`floating()` is the way to go, @focux is 100% right. Please reopen in case you have any additions.

[2019-10-21 19:39] #169 closed

[2019-10-21 19:43] sebbo2002 commented on #157
@focux I leave the issue open so that I can implement it later when I get to it. At the moment I don't have time to work on it.

[2019-10-21 19:43] focux commented on #157
@sebbo2002  I'm already working on a PR. I'll be submitting it in a few minutes.

[2019-10-21 20:22] AndrewLane commented on #167
@sebbo2002 @JamilOmar I have Outlook and have a couple years of experience with the library, if it helps.  I'm willing to help out with this one.

[2019-10-22 13:25] AndrewLane commented on #167
@JamilOmar Does your code look like this?

[code]

I am seeing, at least, bold tags rendered properly in Outlook 365 ProPlus

![image](https://user-images.githubusercontent.com/479232/67290137-b1bd3f00-f4ad-11e9-9992-7bd2686b8cb0.png)

[2019-11-05 15:48] kevingatp opened #171 "Ical doesn't added automatically into calendar"
Thankyou for this amazing calendar generator. I've successfully create an .ics file, and save it to my local directory. And the use nodemailer for send email with attached ics file.  The file also shown in the top of email. This is my code:
`

	   var eventObj = {
	    'start' : moment().add(3, 'minutes'),
	    'end' : moment().add(32, 'minutes'),
	    'title' : 'Invitation',
	    'description' :

[2019-11-10 16:39] sebbo2002 commented on #171
This should always return the same calendar.

You probably need an [attendee](https://github.com/sebbo2002/ical-generator#attendee) in your calendar event, but for details you need to have a look in your receiver's calendar logfile. Please reopen in case you have additional questions regarding this library.

[2019-11-10 16:39] #171 closed

[2019-11-18 19:23] vemundeldegard commented on #167
@AndrewLane is the event attachment in the email automatically appearing in your Outlook? I am using the exact same code as you. It is not showing in mine, only when i Click the .ical file. But it is showing on Gmail.

<img width="887" alt="Skjermbilde 2019-11-18 kl  20 20 35" src="https://user-images.githubusercontent.com/36489034/69082781-1b931f00-0a41-11ea-8683-9c1b6adc3f98.png">
<img width="11

[2019-11-19 16:39] AndrewLane commented on #167
@vemundeldegard I am having trouble understanding your question.  What I have done is create a project on glitch.com to try to replicate this behavior.  See here:

https://glitch.com/~ical-generator-html-description

And then what I'm doing to test in Outlook is to use the "Internet Calendar" option

![image](https://user-images.githubusercontent.com/479232/69166254-f1814180-0ac0-11ea-9caa-3404b98

[2019-11-23 18:39] sebbo2002 commented on #129
[Just added a x() method for alarm-, calendar- and event objects](https://github.com/sebbo2002/ical-generator/tree/feature/x). Could you take a look at this, please? Does that meet your requirements or is something missing?

[2019-11-29 17:28] #126 closed

[2019-11-30 13:44] sebbo2002 commented on #129
Since no one has contacted me, I just assume that it will be all right. I merged the feature after develop and will release it soon. It will be available from 1.9.0.

[2019-11-30 13:44] #129 closed

[2019-12-06 13:25] Andlibmehndi opened #179 "Email sent issue with list of Attendies"
Hi @sebbo2002 ,
I have used Nodemail to send calendar events and used your "ical-generator" but when i am adding list of all attendees then it is displaying in the message but email is not sent to any of the attendees.

Could you please help me with this? @sebbo2002
I have use Node and Nodemailer for sending emails.

[code]

Nodemailer Code

 [ let transporter = nodemailer.createTransport({

[2019-12-06 17:49] 12finger commented on #137
i'd be happy to do a PR

[2019-12-06 20:11] sebbo2002 commented on #137
@12finger Feel free to do so. 👍🏼

[2019-12-08 18:40] vicky-blr opened #180 "No newline for X- attributes?"
I'm trying to add custom attributes but it looks like it doesn't add `\r\n` at the end as it adds for other attributes. [Here](https://github.com/sebbo2002/ical-generator/blob/develop/src/_tools.js#L142) it joins with `\r\n` but if there is only one attribute, it won't add `\r\n` at the end? When I look at source code of email I get, it's not adding newline which is an issue at the moment, correct

[2019-12-09 16:22] 12finger commented on #137
okay, probably over christmas ?! :)

[2019-12-10 04:24] sebbo2002 commented on #180
You're absolutely right, of course. I will try to solve that in the next few days. Thank you for your hint.

[2019-12-11 10:55] vicky-blr commented on #180
I think easiest change would be to change [this line](https://github.com/sebbo2002/ical-generator/blob/a436b85962d1ce7d69bdcd25cfc2ae75c864cc0f/src/event.js#L1139) to add `\r\n`.

Old:   `g += ICalTools.generateCustomAttributes(this);`
New: `g += ICalTools.generateCustomAttributes(this) + '\r\n';`

[2019-12-11 10:58] sebbo2002 commented on #180
I know, thank you, but I don't have the time right now. Hope to find a minute this evening, otherwise it woun't happen before sunday. Sorry.

[2019-12-14 21:43] sebbo2002 commented on #179
`ical-generator` only generates iCal files, but does not send invitations. If you want to send invitations to your attendees, you have to do it manually. Please reopen the issue if you have further questions regarding this library.

[2019-12-14 21:43] #179 closed

[2019-12-14 21:44] #180 closed

[2020-02-13 10:59] vchimev opened #182 "Unable to open `.ics` file on iOS Calendar"
Hey there,

I create a `.ics` file on iOS, however, I'm unable to automatically open it on the default iOS Calendar.

Any guidelines?

Sample:
[code]

Thank you!

[2020-02-14 08:10] sebbo2002 commented on #182
Please provide your sample code and detailed instructions on how to transfer the calendar to iOS (Airdrop, HTTP server, etc.) so I can recreate the problem.

[2020-02-17 12:17] vchimev commented on #182
Hey @sebbo2002,

Basically, I write a `.ics` file on iOS and try to open it via [UIDocumentInteractionController](https://developer.apple.com/documentation/uikit/uidocumentinteractioncontroller/1616828-presentpreviewanimated?language=objc) without success.

In addition, I manage to open the same `.ics` file on macOS and it automatically adds to the Calendar.

Any hints on how to open it on iOS wou

[2020-02-18 04:18] sebbo2002 commented on #182
If I save your example as an ics file and send it to an iPhone via Airdrop, the calendar entry will open just fine. I can also add it to my calendar. So I would rule out at this point that there is a problem with this library or the generated file.

If you have further questions about this library, feel free to reopen the issue.

[2020-02-18 04:18] #182 closed

[2020-02-21 11:55] vinay-kumar opened #183 "Include X attributes in Attendees also"
Hi,

Thanks for sharing this  library. I noticed that we can't add X- attributes in attendee object. Please add the function as it may be needed in cases like X-NUM-GUESTS

[2020-02-25 05:57] vinay-kumar commented on #183
@sebbo2002 Hi,Added this feature on my local branch.
You can check these changes at
[https://gofile.io/?c=mBXQRx](files)

[2020-03-17 21:22] Tvrqvoise commented on #91
Another option here might be to support native js Dates.  Benefits:
 - Much smaller than moment
 - Does not cause the dynamic import problems that moment does with webpack
 - Library agnostic -- every date library I'm aware of (Luxon, Moment, date-fns, dayjs) supports marshaling to and from native Date
 - Could leave back-compat for moment in the form of `if (it.isMoment) return it.toDate()` style

[2020-03-18 04:32] sebbo2002 commented on #91
@Tvrqvoise One of the first [versions of ical-generator](https://github.com/sebbo2002/ical-generator/tree/0.2.9) took this approach and used only the native Date object. Over time, however, [several time zone problems](https://github.com/sebbo2002/ical-generator/issues?q=is%3Aissue+label%3Atimezone-stuff+is%3Aclosed) appeared that could not be solved with Date. Therefore, version 2.0 was used for

[2020-04-12 22:23] dargmuesli opened #186 "OOF?"
Hey there, thank you for this great library!

I'm just wondering what the [`busystatus` value `oof`](https://github.com/sebbo2002/ical-generator#busystatusstring-busystatus) means? :D
`free`, `busy` and `tentative` are clear to me. Looking at [the RFC](https://tools.ietf.org/html/rfc5545#section-8.3.6) it must be `BUSY-UNAVAILABLE`? But why is it called `oof`?

Have a good day :)

[2020-04-13 12:17] sebbo2002 commented on #186
The method busystatus() currently only implements 'X-MICROSOFT-CDO-BUSYSTATUS', not the RFC. Documentation can be found [here](https://docs.microsoft.com/en-us/openspecs/exchange_server_protocols/ms-oxcical/cd68eae7-ed65-4dd3-8ea7-ad585c76c736). I'll leave this issue open to fix this, it's not very nice to have this up to date, I understand that.

[2020-04-13 12:45] sebbo2002 opened #187 "Unify event location methods"
Currently there are three different methods in Event, all of which determined the location of the event. location, appleLocation and geo. It would be great if we could combine these methods into one method, at best even with a fallback so we don't need a breaking release for it

[2020-04-13 13:49] sebbo2002 commented on #157
Closing this as @focux's PR just got merged and v1.10.0 has this feature. Thank you all. 😊

[2020-04-13 13:49] #157 closed

[2020-04-28 12:20] kstankov opened #188 ".clear() shall not clear metadata, or have a flag to indicate whether to do so."
Hi,

first, thanks for the great module.
I was expecting that clear() will just remove all present events from the calendar, but not metadata, which in most cases would be immutable, like name, domain, prodid.
Could you consider adding a flag for that?
Best,
K.

[2020-05-19 18:43] IainAdams opened #192 "Type issue - OPT_PARTICIPANT should be OPT-PARTICIPANT."
Hi,

When I attempt to use 'OPT_PARTICIPANT' I get an error: "Error: `role` must be one of the following: CHAIR, REQ-PARTICIPANT, OPT-PARTICIPANT, NON-PARTICIPANT!"

However, OPT_PARTICIPANT is set in the types.

type attendeeRole = 'CHAIR' | 'REQ-PARTICIPANT' | 'OPT_PARTICIPANT' | 'NON-PARTICIPANT';

Thakns
Iain

[2020-05-21 17:45] CoffeyMachine commented on #64
This solution worked for me with Angular 8 (without Ivy)
https://gist.github.com/niespodd/1fa82da6f8c901d1c33d2fcbb762947d

[2020-07-02 11:43] shriharip opened #195 "Setting custom x attribute"
Sorry, if this is not appropriate.

I am trying to specify the X attribute and passing in the values. But the generated file does not contain the value.

This is my event
[code]

I get the following output

[code]

What is that I am missing? Thanks .

[2020-07-02 18:30] sebbo2002 commented on #195
Can you provide a self containing example? If I do this, it works quite well:
[code]
[code]

[2020-07-02 21:19] shriharip commented on #195
Thanks for the response.

It is very strange. I tried with one of the many JSON data that I loop over and using default values . You can find the code here
https://runkit.com/embed/v0694gs3ubnp
And as you mention it does get the value.

However, if you run this https://europe-west1-minlandsby-v2.cloudfunctions.net/getData/events/village/2622170

Then I am not getting the output.

The only thing th

[2020-07-04 15:39] sebbo2002 commented on #195
Okay, you have a lot of questions here, but some of them I don't think are for this repository. But first things first.

As you have found out yourself, this library works in the simplified example. Why it doesn't work in your production setup I can't tell you and as long as you can't give a simple example that shows a bug or something like that I can't help you with your problem.

Where did you c

[2020-07-04 17:10] shriharip commented on #195
oh ok. Then, I will remove the cal['events'] line. And I will try to work on the issue. For now will use the serve function.
Thanks again for the response and will get back if I am able to find the issue.

[2020-07-04 17:10] #195 closed

[2020-07-16 15:50] Gr8z commented on #122
Working on this now

[2020-07-24 19:31] janrg opened #200 "UID Entropy very low"
Currently, if no ID is given to the event manually, a 4 character ID is generated consisting of the character set a-z 0-9. This has an entropy of less than 21 bits and creating more than a few tens of events in a calendar comes with a significant risk of id collisions. I would suggest either modifying the current method to create significantly longer random strings or switching to UUIDs (which is

[2020-07-27 11:46] sebbo2002 commented on #200
I have been planning to use UUIDs for some time, but then I would also throw away domain(). Accordingly, I'm planning to make the change for a new version when a little bit of stuff has come together. You are welcome to create an issue, I don't think there is one yet.

But as a quick fix I would prefer the longer IDs. Enough for now and we can clean it later.

[2020-07-27 11:49] janrg commented on #200
Alright, I'll create a PR for longer IDs.

[2020-07-27 12:31] janrg opened #203 "Use UUIDs for Event UIDs"
As discussed in #200, according to  https://icalendar.org/New-Properties-for-iCalendar-RFC-7986/5-3-uid-property.html, the UID property should preferably be a UUID and should not include any domain information. This will also make the domain attribute obsolete.

[2020-07-28 19:21] #200 closed

[2020-08-10 17:54] wilmveel opened #208 "Serialization fails when using x params"

[2020-08-13 08:07] #208 closed

[2020-08-14 06:55] krvajal commented on #187
I am gonna try to send a PR for this

[2020-08-15 13:40] TruffeCendree opened #212 "Typescript: EventData.x should be optionnal"
Commit https://github.com/sebbo2002/ical-generator/commit/ae52dae21e31ff0ab652599b46e4c900721daf32 added the support of 'x' attributes on EventData in index.d.ts:

I suggest to added a '?' to notify that this attribute is optional.

[code]

For the moment, my typescript does not compile anymore without adding the x attribute to `cal.createEvent()`.

[2020-08-18 07:46] karlhorky commented on #212
Pull request for this open at #211.

[2020-08-18 17:06] sebbo2002 commented on #212
Closing as pull request got merged, thank you all

[2020-08-18 17:06] #212 closed

[2020-08-19 03:33] sharathprabhal opened #213 "Add support for `WKST`"
Request: Add support for `WKST`, option to specify start of week, as per https://icalendar.org/iCalendar-RFC-5545/3-3-10-recurrence-rule.html

Thanks!

[2020-08-19 17:04] sharathprabhal commented on #213
@sebbo2002 would you accept a PR for this?

[2020-08-20 04:59] sebbo2002 commented on #213
@sharathprabhal I would accept a PR if the feature is complete, i.e. there are unit tests in addition to the implementation and the documentation / readme has been updated. Otherwise I would leave the PR here with todo label until I find more time for this project.

[2020-08-24 05:55] sebbo2002 commented on #213
Didn't have a laptop with me this weekend, I'll look at it tonight. Thanks in advance ☺️

[2020-08-24 19:56] #213 closed

[2020-09-28 19:12] gprst commented on #203
Hi ! I am currently working on this. I've chosen [uuid-random](https://www.npmjs.com/package/uuid-random) for the UUID generation because it seems to be UUIDv4-complient, and be quite light.

I've noticed the `domain()` function has been deprecated for quite a long time (since 0.3.0, current version is 1.15.0), so I'm not quite sure if I should just delete the property at once, or just leave it as

[2020-09-29 03:54] sebbo2002 commented on #203
Please leave it as deprecated for now, I would not like to open a new major version because of such a small change. It would be an incompatible API change in any case. That would be a point I would want to address in version 2.x.

[2020-09-29 03:57] sebbo2002 commented on #203
Ah sorry, read it again and noticed that I am probably not quite awake yet. You can knock out domain(), but I wouldn't merge the PR until there is a bit more accumulated for a version 2.0. Hope that is okay for you then.

[2020-09-29 07:53] gprst commented on #203
I could still push two PRs, one for the UUID (that I would actually need haha, your project's great and I'm using it), and one for the removal of `domain()`. Note that this would also include the removal of all occurences of the `domain` property accross the examples ; I've already started, and changed `domain` for `name` when `domain` was just used as an example property.

[2020-09-29 07:55] gprst commented on #203
Also I will push the PR in a couple of days haha, I want my [Hacktoberfest](https://hacktoberfest.digitalocean.com/) t-shirt 😅

[2020-09-29 08:18] sebbo2002 commented on #203
I think two pull requests are a good solution. Then I can merge one directly if the solution is backwards compatible. The removal of domain() would then be put off to 2.0. Also you are then a bit further on the t-shirt with two pull requests instead of one. 😂

[2020-10-03 08:42] gprst commented on #203
I ended up using the same PR for the whole issue, with two commits : one for the UUID part, the other for the `domain` property removal 🙂 I hope it looks like what you expected.

[2020-10-03 08:48] gprst commented on #192
The bug seems to be fixed, this issue can be closed 🙂

[2020-10-03 15:11] sebbo2002 commented on #203
@gprst Thanks, this will definitely be in version 2.0.

[2020-10-03 15:12] sebbo2002 commented on #203
Closing as we now have #215.

[2020-10-03 15:12] #203 closed

[2020-10-03 15:16] #192 closed

[2020-10-03 15:22] sebbo2002 commented on #192
Just released v1.15.1 with a bug fix. Thanks for reporting it.

[2020-10-21 08:42] davidgatti opened #216 "createAttendee is not working - calendar is not showing the emails"
Hello there,

I'm making a iCal file with 3 attendees, as seen bellow.

[code]

The output looks like this:

[code]

But when I added the iCal event to the calendar (Apple Calendar) the attendees section is empty. What am I missing?

[2020-10-21 17:35] sebbo2002 commented on #216
You seem to use the module correctly, also the generated iCal file seems to be valid:
![Screenshot of an iCal validator with your result](https://d.sebbo.net/Shared-Image-2020-10-21-19-32-12-qnFJKS5iXeXfIsr8lzfoR7O7R2GcyWAV4w7kpCma6WlOrslfzY9IijK8bezXlfZB69W9iI0ad3mMxFdAmB0ynFST1FwsK0SPPSgZ.png)

Please understand that I cannot give support for client- and calendar implementations. I simply do not

[2020-10-24 06:11] BSuryakumar commented on #18
Hi im using iCal for generate and sharing the calendar invite to client who is in different time zone. The output I'm getting is wrong time. Could you guys please help me to solve this

[2020-10-30 09:51] JohnArcher commented on #216
@davidgatti I had a similar problem. The solution for me was to add the `organizer` field to the event!

Hope that will solve your problem.

If yes, maybe the docu should reflect the fact that you need an organizer when you add attendees!?

[2020-11-07 15:08] davidgatti commented on #216
@JohnArcher sadelly that did not fix the problem, there are no changes in the Calendar App on MacOS. I did also try to forward the attachement to a Gmail account, and Gmail shows that there is an event detected but the organizer value is set to: `Unknown Organizer*` and when I click Yes to confirm that I accept the calendar event it dose not show up in the calendar itself. Not sure if this is rela

[2020-11-12 09:06] JohnArcher commented on #216
@davidgatti Did you define the organizer in this format?: `"Name <email@to.me>"`

[2020-11-12 10:54] davidgatti commented on #216
This way

[code]

[2020-11-22 20:50] sebbo2002 opened #218 "Typescript refactoring"
Yeah, I know, it's a stupid job. But I have to do it…

[2020-11-27 08:00] L-U-C-K-Y commented on #91
What could be considered is to use day.js as the api is quite similar and we will move from moment.js to date.js for our internal services.

[2020-12-02 08:23] anthonycluse opened #219 "Error with method`"
I get an issue using `icla-generator`.

**My code :**

[code]

**Error message :**

[code]

[2020-12-02 08:31] #219 closed

[2020-12-16 21:11] walmaz commented on #91
Actually, Moment.js is kinda dead - https://momentjs.com/docs/#/-project-status/

[2020-12-17 08:32] sebbo2002 commented on #91
This is one of the reasons why it is already in the [2.0 Milestone](https://github.com/sebbo2002/ical-generator/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22v2.0.0+%F0%9F%8E%89%22). 😚

I plan to include support for native Date, moment.js, moment-timezone.js, Luxon and Date.js. I think that covers most of it.

[2020-12-23 11:15] HeikoTheissen opened #221 "Line folding breaks surrogate pairs"
https://github.com/sebbo2002/ical-generator/blob/d4cd9cd44a378113b194bc8a8147cea9fdc6a50d/src/_tools.js#L93

Folding an iCalendar line after every 74 characters does not work if the 74th and 75th character form a [surrogate pair](https://mathiasbynens.be/notes/javascript-encoding#surrogate-pairs). iCalendar clients are unable to reconstitute the pair if it is split across two lines.

For example,

[2020-12-23 13:20] DipakTechifySolutions opened #222 "Ical is not display content description property in outlook and gmail at same time."
I have some trivial issue, Following is the snippet which has created a ical file, When there is a **description** or **htmlDescription** is there it works fine in gmail but it shows html tagged description in outlook in the description box.

But when I use X-ALT-DESC;FMTTYPE=text/html tag specifically resolve an issue for outlook, it does work for outlook but not working for gmail.

So my issue i

[2021-01-04 07:46] sebbo2002 commented on #222
Please understand that I cannot give support for client- and calendar implementations. I simply do not have the capacity for this. If you want, we can leave the issue open if someone is familiar with the gmail / Outlook implementation.

[2021-01-14 20:52] sebbo2002 commented on #221
🎉 Released in `1.15.4`, thank you.

[2021-01-14 20:52] #221 closed

[2021-02-04 18:53] vespino opened #224 "add telephone number?"
Is it possible to add the telephone number of the organizer to the mix so when someone clicks the organizer on for example an iPhone they get the email address and telephone number as contact options?

[2021-02-05 08:21] sebbo2002 commented on #224
Currently it is not possible and I honestly don't know that this is foreseen in RFC 5545.

[2021-02-05 08:21] #224 closed

[2021-02-19 10:13] tar-aldev opened #225 "Unable to send multiple events"
When following the docs I see that events is an array which makes me think I can put multiple events there.
Like this:

[code]
When I look at generated calendar string I can clearly see that there are multiple events there. However in the email itself (in gmail) i receive a letter with only first event being displayed. Is it an expected behaviour and is it possible to send multiple events at all?

[2021-02-19 18:13] sebbo2002 commented on #225
Unfortunately, I cannot give support for iCal clients here. But have a look at Stackoverflow, there are some reports about the horrible iCal support in Gmail, e.g. [this one](https://stackoverflow.com/questions/31141262/add-a-multi-event-icalendar-file-to-google-calendar).

[2021-02-19 18:13] #225 closed

[2021-02-23 12:48] jkytomak opened #226 "Please add version to package.json"
I was interested to try the typescript version of the library, but was not able to use it because there is no version defined in package.json:
[code]

[2021-02-23 13:48] sebbo2002 commented on #226
Oh that's stupid. Yes, I'll add a placeholder version later. Later, the version will be set automatically by semantic release when the feature branch has been flagged for develop.

[2021-02-23 22:09] sebbo2002 commented on #226
Added a version and tested it. Should work now. Thanks for reporting it 🥰

[2021-02-23 22:09] #226 closed

[2021-02-27 12:53] #218 closed

[2021-02-27 13:55] sebbo2002 commented on #91
I am still ambivalent about this, but would like to clarify the issue for version 2.0.0. My current idea would be the following approach:

- ical generator works internally only with `Date` objects. Of course, these have no time zone, so everything is UTC. Of course, this does not apply if a time zone has been defined in the calendar or in the event.
- Objects from moment.js, moment-timezone.js, L

[2021-02-27 15:00] sebbo2002 opened #228 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `develop` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2021-02-27 15:03] sebbo2002 commented on #228
## :rotating_light: The automated release from the `develop` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2021-02-27 15:06] sebbo2002 commented on #228
## :rotating_light: The automated release from the `develop` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2021-02-27 15:09] sebbo2002 commented on #228
## :rotating_light: The automated release from the `develop` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2021-02-27 15:18] sebbo2002 commented on #228
## :rotating_light: The automated release from the `develop` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2021-02-27 15:42] sebbo2002 commented on #213
:tada: This issue has been resolved in version 1.3.0-develop.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/1.3.0-develop.1)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v1.3.0-develop.1)
- `v1.3.0-develop.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2021-02-27 15:42] sebbo2002 commented on #161
:tada: This issue has been resolved in version 1.3.0-develop.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/1.3.0-develop.1)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v1.3.0-develop.1)
- `v1.3.0-develop.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2021-02-27 15:42] sebbo2002 commented on #148
:tada: This issue has been resolved in version 1.3.0-develop.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/1.3.0-develop.1)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v1.3.0-develop.1)
- `v1.3.0-develop.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2021-02-27 15:42] sebbo2002 commented on #154
:tada: This issue has been resolved in version 1.3.0-develop.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/1.3.0-develop.1)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v1.3.0-develop.1)
- `v1.3.0-develop.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2021-02-27 15:42] sebbo2002 commented on #99
:tada: This issue has been resolved in version 1.3.0-develop.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/1.3.0-develop.1)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v1.3.0-develop.1)
- `v1.3.0-develop.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2021-02-27 15:42] sebbo2002 commented on #121
:tada: This issue has been resolved in version 1.3.0-develop.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/1.3.0-develop.1)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v1.3.0-develop.1)
- `v1.3.0-develop.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2021-02-27 15:43] sebbo2002 commented on #133
:tada: This issue has been resolved in version 1.3.0-develop.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/1.3.0-develop.1)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v1.3.0-develop.1)
- `v1.3.0-develop.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2021-02-27 15:43] sebbo2002 commented on #192
:tada: This issue has been resolved in version 1.3.0-develop.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/1.3.0-develop.1)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v1.3.0-develop.1)
- `v1.3.0-develop.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2021-02-27 15:43] sebbo2002 commented on #200
:tada: This issue has been resolved in version 1.3.0-develop.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/1.3.0-develop.1)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v1.3.0-develop.1)
- `v1.3.0-develop.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2021-02-27 15:43] sebbo2002 commented on #180
:tada: This issue has been resolved in version 1.3.0-develop.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/1.3.0-develop.1)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v1.3.0-develop.1)
- `v1.3.0-develop.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2021-02-27 15:43] sebbo2002 commented on #126
:tada: This issue has been resolved in version 1.3.0-develop.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/1.3.0-develop.1)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v1.3.0-develop.1)
- `v1.3.0-develop.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2021-02-27 15:43] sebbo2002 commented on #141
:tada: This issue has been resolved in version 1.3.0-develop.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/1.3.0-develop.1)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v1.3.0-develop.1)
- `v1.3.0-develop.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2021-02-27 15:46] #228 closed

[2021-03-21 18:02] sebbo2002 commented on #91
Contrary to what I originally described, I have now solved it in such a way that the original object is kept internally so that the respective library can be used to apply UTC / Timezone settings.

[2021-03-21 18:29] #188 closed

[2021-03-21 18:31] sebbo2002 commented on #188
:tada: This issue has been resolved in version 2.0.0-develop.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/2.0.0-develop.1)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v2.0.0-develop.1)
- `v2.0.0-develop.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2021-03-21 18:34] sebbo2002 opened #231 "Merge `description()` and `htmlDescription()`"

[2021-03-21 18:43] sebbo2002 commented on #122
Closing this in favor of #198.

[2021-03-21 18:46] #91 closed

[2021-03-22 01:29] gajus opened #232 "What are valid categories?"
I cannot find what are valid values for `CategoryData`.

In the documentation I see values: `MEETING` and `APPOINTMENT`.

Are there any other values?

Where can I find reference for this?

I looked at https://www.kanzaki.com/docs/ical/categories.html, but it does not specify ENUM either.

[2021-03-22 01:46] gajus opened #233 "How to get a notification if user deletes / declines invitation?"
This is how I am currently creating events:

[code]

My desired outcome of setting support@aboutsnack.com as an organizer and `CHAIR` is so that if invitee deletes invitation, I would get a message to support@aboutsnack.com about it.

However, as it is,

1. Organizer / chair does not appear on the invitation (see screenshot; I am unsure if this is expected behavior)
2. No email is sent to support@

[2021-03-22 07:49] sebbo2002 commented on #232
iCal's categories are a [free text field](https://github.com/sebbo2002/ical-generator/blob/develop/src/category.ts#L33), you can choose the categories as you like. So it's similar to tags. `MEETING` and `APPOINTMENT` are just example values.

[2021-03-22 07:49] #232 closed

[2021-03-22 07:54] sebbo2002 commented on #233
I can't give support for individual iCal clients here, sorry. If I were you, I would try entering the attendee "Snack" as the organiser. If the iCal file produced is not valid or contains errors, please contact me again, I can certainly do something about it. ☺️

[2021-03-22 07:54] #233 closed

[2021-03-22 08:04] gajus commented on #232
Thank you

[2021-03-22 08:07] gajus commented on #233
Perhaps I am missing something, but `organizer` is already configured.

See below `ORGANIZER;CN="Snack":mailto:support@aboutsnack.com`

[code]

[2021-03-22 08:14] sebbo2002 commented on #233
So at first glance I would say that `status` is missing. Both in the event and per attendee. But unsure if that's the reason…

[2021-03-22 19:22] #187 closed

[2021-03-22 19:25] sebbo2002 commented on #187
:tada: This issue has been resolved in version 2.0.0-develop.2 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/2.0.0-develop.2)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v2.0.0-develop.2)
- `v2.0.0-develop.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2021-03-23 14:25] pintux opened #234 "missing dayjs module in develop branch"
I've installed version 2.0.0-develop.2 in a TypeScript project. At compile time, on my project, I'm getting:

[code]

[2021-03-23 16:40] sebbo2002 commented on #231
Implemented in ce537f8f56c1f3651938b75e884ae76814187daf, so I close this reminder…

[2021-03-23 16:40] #231 closed

[2021-03-23 19:37] #137 closed

[2021-03-23 19:39] sebbo2002 commented on #137
:tada: This issue has been resolved in version 2.0.0-develop.6 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/2.0.0-develop.6)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v2.0.0-develop.6)
- `v2.0.0-develop.6`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2021-03-23 21:39] #163 closed

[2021-03-23 21:42] sebbo2002 commented on #163
:tada: This issue has been resolved in version 2.0.0-develop.7 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/2.0.0-develop.7)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v2.0.0-develop.7)
- `v2.0.0-develop.7`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2021-03-23 21:55] #183 closed

[2021-03-23 21:58] sebbo2002 commented on #183
:tada: This issue has been resolved in version 2.0.0-develop.8 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/2.0.0-develop.8)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v2.0.0-develop.8)
- `v2.0.0-develop.8`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2021-03-23 22:13] sebbo2002 commented on #122
Okay, everything back to the beginning. I first thought we were going to get this built in based on PR #198, but I see this implementation is based on `moment-timezone`. Which is no longer a dependency.

So we probably need a build step to bundle this information into a file. Or the feature just works if `moment-timezone` is installed and available. Because actually I don't want to hold timezone t

[2021-03-24 09:30] pintux commented on #234
Using `2.0.0-develop.8` version I'm getting the following errors:

`node_modules/ical-generator/dist/event.d.ts:1:28 - error TS2307: Cannot find module 'rrule' or its corresponding type declarations.

1 import type { RRule } from 'rrule';
[code]

Found 2 errors.`

[2021-03-24 10:11] sebbo2002 commented on #234
Oh crap, how stupid of me. I'll take care of it tonight.

[2021-03-24 19:09] sebbo2002 commented on #234
Okay, thought I forgot to add the `type` flag for `RRule`, but that's not the issue. I tested it locally, it works for me. Do you use typescript >= 3.8? The type only imports are introduced in this version…

<img width="544" alt="Bildschirmfoto 2021-03-24 um 20 05 05" src="https://user-images.githubusercontent.com/812398/112369222-3da74c00-8cdc-11eb-979e-71928c145546.png">

[2021-03-26 13:28] #186 closed

[2021-03-26 13:31] sebbo2002 commented on #186
:tada: This issue has been resolved in version 2.0.0-develop.11 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/2.0.0-develop.11)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v2.0.0-develop.11)
- `v2.0.0-develop.11`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** b

[2021-03-26 14:10] sebbo2002 commented on #122
Maybe just allow to integrate [ical-timezones](https://www.npmjs.com/package/@touch4it/ical-timezones) if required?

[2021-03-30 13:26] pintux commented on #234
I'm using TypeScript 3.9.9 and (now) `ical-generator` version `^2.0.0-develop.14"`.

`> tsc -v && tsc

Version 3.9.9
node_modules/ical-generator/dist/event.d.ts:1:28 - error TS2307: Cannot find module 'rrule' or its corresponding type declarations.

1 import type { RRule } from 'rrule';
[code]

Found 2 errors.`

I will try with a clean project

[2021-04-01 16:56] sebbo2002 commented on #234
Okay, I have now been able to reproduce the whole thing. Apparently, the dependencies must still be present when compiling in order to be able to check the types. Even if you use [type-only imports](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-8.html#type-only-imports-and-export). This is of course very annoying. I would put the dependencies in `optionalDependencies`, th

[2021-04-02 15:01] sebbo2002 commented on #234
Okay, I have now packed the supported external libraries into `peerDependencies`. This way they should always be installed with npm 7. I hope this solves the problem. `peerDependencies` are installed with npm@7, before that you have to install them manually. I will add to the FAQ accordingly.

[2021-04-02 15:01] #234 closed

[2021-04-07 08:53] Manc opened #236 "Apple Calendar.app not showing map if location is a city"
Hi, I'm using version 1.15.4 and stumbled over an issue using `appleLocation()` if the location describes a city in general as opposed to a specific address within a city. The Calendar.app on macOS will not display the map, even if coordinates are provided.

I compared what a file generated with iCal looks like in this case in order to suggest a solution. I created a new event in Calendar, started

[2021-04-07 09:51] 5n10m opened #237 "Missing method on Event"
As it says on https://tools.ietf.org/html/rfc2446#section-3.2
it would be great have a method on event to manage cancelled events.

[2021-04-07 16:19] sebbo2002 commented on #237
You can flag a canceled event via the status:

[code]

[2021-04-07 16:19] #237 closed

[2021-04-08 12:30] adventpit commented on #122
I would be available to look into this. Do I understand correctly, that you would prefer to leave external dependencies out and have the user put in the according `VTIMEZONE` string from [ical-timezones](https://www.npmjs.com/package/@touch4it/ical-timezones)?
So an additional method on `ICalCalendar`to put this entire string in, instead of using the timezone information from the existing `ICalCal

[2021-04-08 12:44] sebbo2002 commented on #122
@adventpit I would allow the user to give an [ical-timezone](https://www.npmjs.com/package/@touch4it/ical-timezones) object in `timezone()` instead of a string. Just as different date objects are currently allowed. Thus it remains with one method `timezone()`. Also, this would be required for both `ICalCalendar` and `ICalEvent`.

[2021-04-09 14:18] adventpit commented on #122
Okay, so I might be a bit stupid, because I'm not sure if I quite understand how we'd be doing this.

So working on the premise that [ical-timezones](https://www.npmjs.com/package/@touch4it/ical-timezones) stays external, that means we do not import `ical-timezones`, because we want to be as independent as possible, correct?

So firstly sending in an external object from `ical-timezones`, would re

[2021-04-09 18:18] #236 closed

[2021-04-09 18:20] sebbo2002 commented on #236
:tada: This issue has been resolved in version 2.0.0-develop.18 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/2.0.0-develop.18)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v2.0.0-develop.18)
- `v2.0.0-develop.18`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** b

[2021-04-09 18:51] sebbo2002 commented on #122
Correct.

All right, I had a few errors in thinking in my cursory answer, sorry. It's best to just forget what I said. I'll have to have another look at the whole thing, hopefully I'll get to it at the weekend. I thought it was a small thing when I quickly looked at it, but yes, you're right, it's not that simple.

[2021-04-09 19:19] sebbo2002 commented on #122
Okay, I have now had time after all, here is my suggestion: 😂

- The method `timezone()` of the `ICalCalendar` object is extended so that optionally `ical-timezone` can be passed. Something like `cal.timezone({name: 'Europe/Berlin', generator: tz})`
- The event method remains as it is. A string is assumed with the timezone.
- `ICalCalendar`'s `toString()` method is extended so that `VTIMEZONE`s of

[2021-04-12 08:19] adventpit commented on #122
Sorry for the delayed answer.

Yes I think this is more accurate, but I still can't wrap my head around it when it comes to the `ical-timezones` object. When we get `tz` in `cal.timezone({name: 'Europe/Berlin', generator: tz})`, how do me know what it can do without importing the library?

[2021-04-12 08:27] sebbo2002 commented on #122
Just save the reference for later usage, or do I miss anything:

*in timezone()*:
[code]

*in toString()*:
[code]

I'll probably get a chance to put some time in here again on Wednesday, so if you want I can have a look at it on Wednesday too.

[2021-04-12 08:39] adventpit commented on #122
I think it's just me being stupid here.

I was wondering about the type conversion from the object, because we later want to call on it then to do:
[code]

So would `tz` basically be an `any` object to us or what do we check with the type checker?

I thought of looking into it myself and sending a pull request, once I've understood it completely, but I'm not sure, if I'm ever gonna reach that stat

[2021-04-12 08:43] sebbo2002 commented on #122
Okay, yes, then it's probably better that way. I'll get back to you on Wednesday and maybe bring a solution with me.

[2021-04-14 12:28] tar-aldev opened #242 "ability to update existing calendar generated with ical-generator?"
I have a calendar generated with the help of ical-generator.

I could found that the way to update it is to somehow use UID of calendar I want to update. But I cannot find any mention of this in the docs.
Could you please help me with this?

[2021-04-14 13:26] sebbo2002 commented on #242
Currently, this topic is not in the documentation, as it would go beyond the scope.

Normally it is sufficient that the events each have a unique ID, which you can specify with `id()` or `uid()`. In addition, you can use `sequence()` to specify which version is the current one. This allows clients to quickly check whether their version is still the current one. You start with `sequence(1)` and eac

[2021-04-14 13:26] #242 closed

[2021-04-14 15:50] #122 closed

[2021-04-14 15:53] sebbo2002 commented on #122
:tada: This issue has been resolved in version 2.0.0-develop.20 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/2.0.0-develop.20)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v2.0.0-develop.20)
- `v2.0.0-develop.20`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** b

[2021-04-14 15:58] sebbo2002 commented on #216
I would close this issue due to inactivity. I hope this is ok for everyone involved. If there is still a need for clarification, please feel free to reopen the issue or create a new ticket if it's a new topic.

[2021-04-14 15:58] #216 closed

[2021-04-14 15:59] sebbo2002 commented on #222
I would close this issue due to inactivity. I hope this is ok for everyone involved. If there is still a need for clarification, please feel free to reopen the issue or create a new ticket if it's a new topic.

[2021-04-14 15:59] #222 closed

[2021-04-17 04:28] adamreisnz opened #244 "Make @types/node an optional peer dependency"
Can this be made an optional peer dependency?
We don't use TypeScript and don't want to add bloat to our project by including this as a dependency.

Everything is working fine _without_ this dependency, so can it be made optional so that we avoid the errors?

`warning " > ical-generator@1.15.4" has unmet peer dependency "@types/node@>= 8.0.0".`

[2021-04-17 11:01] sebbo2002 commented on #244
Sure, think that also applies for the other peerDependencies, but I have to double check later…

[2021-04-17 12:40] #244 closed

[2021-04-17 12:42] sebbo2002 commented on #244
:tada: This issue has been resolved in version 2.0.0-develop.21 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/2.0.0-develop.21)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v2.0.0-develop.21)
- `v2.0.0-develop.21`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** b

[2021-04-17 23:50] adamreisnz commented on #244
Cheers thank you

On Sun, 18 Apr 2021, 00:43 Sebastian, ***@***.***> wrote:

[2021-04-28 02:03] shashankrepo commented on #171
I'm getting the same issue - not adding automatically to the calendar. My code looks like this.

[code]

calling with `Nodemailer`

[code]

I have added attendees but it is not showing up in the calendar (Google, Apple).

[2021-04-28 02:30] shashankrepo opened #246 "Ical doesn't add automatically into calendar"
I'm getting the same issue - not adding automatically to the calendar. My code looks like this.

[code]

calling with `Nodemailer`

[code]

I have added attendees but it is not showing up in the calendar (Google, Apple).

[2021-04-28 15:14] sebbo2002 commented on #246
Please understand that I cannot give support for client- and calendar implementations. I simply do not have the capacity for this. If you see a bug in ical-generator or invalid results are produced by it, you are of course welcome to contact me again.

I would leave the issue open here, maybe someone else has already solved the problem and is kind enough to help...

[2021-04-28 15:51] sebbo2002 commented on #244
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ical-generator/v/2.0.0)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v2.0.0)
- `v2.0.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-28 15:51] sebbo2002 commented on #122
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ical-generator/v/2.0.0)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v2.0.0)
- `v2.0.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-28 15:51] sebbo2002 commented on #236
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ical-generator/v/2.0.0)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v2.0.0)
- `v2.0.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-28 15:51] sebbo2002 commented on #186
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ical-generator/v/2.0.0)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v2.0.0)
- `v2.0.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-28 15:51] sebbo2002 commented on #183
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ical-generator/v/2.0.0)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v2.0.0)
- `v2.0.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-28 15:51] sebbo2002 commented on #163
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ical-generator/v/2.0.0)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v2.0.0)
- `v2.0.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-28 15:52] sebbo2002 commented on #137
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ical-generator/v/2.0.0)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v2.0.0)
- `v2.0.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-28 15:52] sebbo2002 commented on #187
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ical-generator/v/2.0.0)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v2.0.0)
- `v2.0.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-28 15:52] sebbo2002 commented on #188
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ical-generator/v/2.0.0)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v2.0.0)
- `v2.0.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-29 08:27] Sean12697 opened #247 "Build Failure: "TypeError: ical is not a function""
@dependabot-preview opened a PR (https://github.com/inevitable-team/compiled-mcr-events/pull/81) to Bump ical-generator from 1.15.1 to 2.0.0 and generated the following [Deploy Log](https://app.netlify.com/sites/manchester-tech-events/deploys/608a57ad039fc500078df2df) in a triggered Netlify Build Step.

[code]

The code that has caused this issue, which still works on ical-generator@1.15.1 / ical-

[2021-04-29 09:00] sebbo2002 commented on #247
Damn. I completely forgot to adjust the documentation regarding the new imports. Please adapt your code as follows, that should work. I will update the documentation as soon as I have time.

[code]

Thank you for bringing this to my attention. ❤️

[2021-04-29 10:59] Sean12697 commented on #247
No worries @sebbo2002, the default export implementation has worked and I'm happy to close this issue, unless you want to keep it open until you update the documentation?

[2021-04-29 11:09] sebbo2002 commented on #247
I would suggest leaving it open, I will close the issue when the documentation has been reworked. Thank you.

[2021-04-29 14:23] #247 closed

[2021-04-29 14:33] sebbo2002 commented on #247
:tada: This issue has been resolved in version 2.0.1-develop.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/2.0.1-develop.1)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v2.0.1-develop.1)
- `v2.0.1-develop.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2021-04-29 21:29] djplaner commented on #64
Seems recent updates to webpack break the previous solution.  The error I was seeing

[code]

The solution that worked for me is [from StackOverflow](https://stackoverflow.com/questions/64361940/webpack-error-configuration-node-has-an-unknown-property-fs).  Add the following to webpack configuration

[code]

[2021-04-29 21:36] dargmuesli opened #248 "Mocking formatDate"
Hey there, before upgrading to v2 I want to add a test that asserts nothing breaks.
My issue is that the `DTSTAMP` is dynamically generated, so I cannot check for a static result. I first think of mocking the function, which provides the fields value to receive a predictable result: https://github.com/sebbo2002/ical-generator/blob/ac05fb67c63ea420c28faf2da3483d6ccb658935/src/event.ts#L1348
But `fo

[2021-04-30 13:26] sebbo2002 commented on #64
@djplaner Thanks for your note, I updated the readme in https://github.com/sebbo2002/ical-generator/commit/ee2cb70b7dfd0085a24a8700213deb97c57fe400

[2021-04-30 13:59] #248 closed

[2021-04-30 14:02] sebbo2002 commented on #248
:tada: This issue has been resolved in version 2.1.0-develop.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/2.1.0-develop.1)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v2.1.0-develop.1)
- `v2.1.0-develop.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2021-05-01 02:37] dargmuesli commented on #248
Well, me is very sad and frustrated. Looks like https://github.com/facebook/jest/issues/936 explains that it isn't really possible to replace transitive function calls. I've now spent way too many hours trying to work my way around it, but it doesn't really seem possible. There are babel-powered solutions like https://github.com/speedskater/babel-plugin-rewire, but I don't get why I'd need to use

[2021-05-01 03:22] dargmuesli commented on #248
Oh my,
[code]
just saved my well being. Sniff.

[2021-05-10 11:59] borrougagnou opened #250 "SyntaxError [unexpected identifier]: Import ical from ical-generator"
Hello, I try to use your "ical-generator"
but I'm blocked...

- I import `ical-generator` / `ical-generator@next` with npm (v2.0.0 / v2.1.0-develop.2)
- I import `http` and `dayjs` with npm
- I create app.js and paste the code into this.
[code]

I do same thing with typescript,
- create index.ts
- paste the code
- launch like this:
[code]

I would like to know if I did something wrong ?

Regards.

[2021-05-10 17:07] sebbo2002 commented on #250
@borrougagnou Okay, so if you are using JavaScript and not using the ES6 import syntax, you can also use good old require like `const ical = require('ical-generator').default;`

If you want to use Typescript, you have to install some dependencies like `moment` or `luxon`, otherwise Typescript does not know these objects. Please make sure that you use npm > 6, then the peerDependencies will be [ins

[2021-05-10 17:07] #250 closed

[2021-05-13 12:23] Manc opened #254 "TypeScript dependencies"
Thanks for the 2.0.0 update! I'm just trying to upgrade my project to make use of the new version, but when I build my project with `tsc`, I get the following errors:

[code]

It looks like the included `.d.ts` files import packages like `rrule`, `dayjs`, `moment`, `luxon` and more, but *ical-generator* has them as dev dependencies only, and to my best knowledge, this is not the correct way. If *i

[2021-05-13 13:11] Manc commented on #254
Sorry, I see you already declared said dependencies as `peerDependencies`, but to be honest, I don't have experience with that, but it doesn't seem to work for me.

[2021-05-13 13:23] sebbo2002 commented on #254
The `dependencies` required for Typescript are not only stored in the `devDependencies`, but also in the `peerDependencies` provided for this purpose, as you can [check here](https://github.com/sebbo2002/ical-generator/blob/develop/package.json#L65-L75). These dependencies should be installed automatically as long as you are using npm > v6, so please check if you are using a current npm version (s

[2021-05-13 13:24] sebbo2002 commented on #254
Sorry, I didn't see your comment when I formulated my previous one. Did you get any further with it?

[2021-05-13 13:41] Manc commented on #254
Thanks for your reply. I'm still investigating. I'm actually using **yarn**. It's strange, because I agree, `peerDependencies` sounds like the obvious right choice, but yarn doesn't seem to install those packages in my project. I uninstalled `ical-generator` and reinstalled it (at first I just upgraded it), but no success yet. I'm checking now if it could be related to my yarn version. TS is on 4.

[2021-05-13 15:19] sebbo2002 commented on #248
:tada: This issue has been resolved in version 2.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ical-generator/v/2.1.0)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v2.1.0)
- `v2.1.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-13 15:19] sebbo2002 commented on #247
:tada: This issue has been resolved in version 2.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ical-generator/v/2.1.0)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v2.1.0)
- `v2.1.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-13 15:54] Manc commented on #254
My Yarn is the most recent 1.x and an upgrade to v2 didn't really work yet. Regardless, I'm feeling confused. It feels somewhat strange to me that npm 7+ is required and it would't work with Yarn 1 at all. As I said, it's the first time I ever encountered an issue like this and I have a feeling that tells me this should be approached slightly differently, but I couldn't figure out how yet.

[This]

[2021-05-13 16:10] sebbo2002 commented on #254
Feel free to let me know if you have a better solution to the problem. The StackOverflow article summarises the possibilities I know quite well, although [the former](https://stackoverflow.com/a/54413011) is not practical for me, because with my own types I wouldn't notice if something changed in a third-party library. That's why it was important to me to use the "real" types (as described in the

[2021-05-14 01:27] samuelfruhauf commented on #246
I'm facing the same problem, have a solution?

[2021-05-17 12:17] Manc commented on #254
Last Saturday I continued with my investigation and I already started to write a massive comment with all my findings. I must have closed the tab before I submitted the final comment.

To cut a long story short, I actually went round in circles and didn't find a quick and easy solution. And although it wasn't my intention, I somehow ended up starting to rewrite the library for my own purposes. I'm

[2021-05-17 12:17] #254 closed

[2021-05-17 12:46] sebbo2002 commented on #254
At this point, I hope that yarn will provide support for peerDependencies like npm does from v6 on - because then the problem would have been solved, wouldn't it?

[2021-05-17 13:22] Manc commented on #254
I have doubts that `peerDependencies` really is the right option for this, but unfortunately I can't substantiate this gut feeling.

For example, popular packages like image minifiers that support optional third-party packages, still do not list them as `peerDependencies` (see [imagemin](https://github.com/imagemin/imagemin) or [next-optimized-images](https://github.com/cyrilwanner/next-optimized-

[2021-05-17 13:32] sebbo2002 commented on #254
Both of your examples are JavaScript examples, so they automatically don't have the problem: the third-party libraries are only needed for typing. Otherwise, no dependencies are included, so the JavaScript gets by completely without these third-party libraries.

I don't think so, because if you look in the [package.json](https://github.com/sebbo2002/ical-generator/blob/develop/package.json), it's

[2021-05-17 13:33] Manc commented on #254
I think I remember now why moving the optional libraries to `devDependencies` would also not solve the issue: When I install the package (ical-generator) in my own project via an NPM dependency, more or less only the `dist` folder will be included in the `node_modules` directory, which means the TypeScript typings for third-party dependencies are being lost again, yet ical-generator would use them

[2021-05-17 13:48] Manc commented on #254
Out of interest, I just created a new minimal project using NPM version 7.12.1 with dependencies `typescript` and `ical-generator`. I added a small `tsconfig.json` and my main script is this:

[code]

Running `tsc` gave me the same errors that I get in my other project:

[code]

It looks like to me that using NPM 7 does not solve the issue either.

[2021-05-17 14:05] sebbo2002 commented on #254
I actually tested this at the time, but can do it again tonight. If it doesn't work with npm 7 (anymore), I have to change something, of course.

[2021-05-17 14:11] Manc commented on #254
If it helps, I've pushed my sample project: https://github.com/Manc/cal-example

[2021-05-17 18:58] sebbo2002 commented on #254
Okay, the modules are no longer installed automatically because of [this commit](https://github.com/sebbo2002/ical-generator/commit/b384ac7838f1694f698f1fd921ddbd401ad66424#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519R74), as they were marked as optional. That is, of course, unfavourable.

I understand that it can be desirable to have to install as few modules as possible,

[2021-05-22 20:16] irfaan opened #260 "`SOURCE;VALUE=URI` param not supported"
Hi! Wondering if `SOURCE;VALUE=URI` is supported in some way. According to the spec ([5.8. SOURCE Property](https://icalendar.org/New-Properties-for-iCalendar-RFC-7986/5-8-source-property.html)), it looks like this is how the client knows where to refresh calendar data.

Is this perhaps supported in some alternative way? I'm using `METHOD:PUBLISH` and adding the calendar via `webcal://` call to th

[2021-05-22 21:50] sebbo2002 commented on #260
Currently `SOURCE` is not implemented, only url to provide an alternative.

[2021-05-24 16:26] #260 closed

[2021-05-24 16:29] sebbo2002 commented on #260
:tada: This issue has been resolved in version 2.2.0-develop.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/2.2.0-develop.1)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v2.2.0-develop.1)
- `v2.2.0-develop.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2021-05-24 16:55] sebbo2002 commented on #260
:tada: This issue has been resolved in version 2.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ical-generator/v/2.2.0)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v2.2.0)
- `v2.2.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-29 07:19] paulwer opened #273 "Missing implementation of refresh-interval"
Look at: https://icalendar.org/New-Properties-for-iCalendar-RFC-7986/5-7-refresh-interval-property.html
Ist it possible to implement this feature? Or do i missed it?

[2021-05-31 07:17] sebbo2002 commented on #273
No, the attribute is not currently implemented.

[2021-05-31 08:07] paulwer commented on #273
I take a look to the code and found the option ttl (time to live), which sets the requested line. Sorry i'am not that fit to typescript.
But maybe it should be a good option to mark this option in the docs for other people.

ex. /src/calendar.ts line 840

[2021-05-31 08:10] sebbo2002 commented on #273
Okay, you shouldn't trust the mobile GitHub search 😂.

It already says "Is used to fill `REFRESH-INTERVAL` and `X-PUBLISHED-TTL` in your iCal." What else is missing for you?

[2021-05-31 08:13] paulwer commented on #273
its fine for me now. thank for your responses.

[2021-05-31 08:13] #273 closed

[2021-06-24 09:06] Gr8z commented on #246
After the major update, I also don't see any events being added to my outlook calendar. This was something working before in v1, but now renders the event file useless when opened in outlook.

[2021-06-24 17:00] sebbo2002 commented on #246
@Gr8z Can you play back the code and generate an iCal file? Then you could compare what has changed between v1 and v2 and possibly recreate the problem.

Unfortunately, I don't have Outlook, so I can't test it on my computer.

[2021-06-27 10:07] Gr8z commented on #246
I apologize for the my stupidity but the reason why the event was not showing up on my Outlook calendar is because I was creating one in 2020 instead of 2021. Took me several days to figure this out.

Other than that, v2 is working great.

[2021-07-06 09:06] abhishek-kesharwani opened #298 "I am updating created event but it is not reflecting in google calendar and showing this event is out of date , but same is working for outlook"
Can anyone plz help me?

[2021-07-06 10:32] sebbo2002 commented on #298
Please understand that I cannot give support for client- and calendar implementations. I simply do not have the capacity for this. If you see a bug in ical-generator or invalid results are produced by it, you are of course welcome to contact me again.

I would leave the issue open here, maybe someone else has already solved the problem and is kind enough to help...

[2021-07-06 10:40] AndrewLane commented on #298
@abhishek-kesharwani In my experience, there's a significant lag with Google Calendar in terms of how long it will take for updates to be synchronized.  It's quite annoying.  If I recall, it was around 13 hours or so with my experiments.  Are you seeing something like that?

[2021-07-06 11:15] abhishek-kesharwani commented on #298
Thanks @AndrewLane I understood this but as you said it is around 13 hours so it means the code that I am using should not work locally but when I run this code locally in that case Gmail calendar is reflecting updated time and date properly and problem occurs when I deploy this code in cloud.

[2021-07-06 11:17] AndrewLane commented on #298
Hmm, I'm not sure I fully understand exactly what's going on.  Anyway you can expound on exactly what you are doing?

[2021-07-06 11:33] abhishek-kesharwani commented on #298
Ok See. I created meeting using NodeMailer and try to update same meeting which is perfectly working on outlook and also in Gmail calendar. but when I deploy this code in aws in that case create meeting is working properly but in update meeting ,
outlook calendar is reflecting correct time and date but in gmail calendar I am getting this **This invitation is out of date. This event has been update

[2021-07-06 11:43] AndrewLane commented on #298
Thank you.  Unfortunately I am out of my depth here so I cannot try to help further.  Good luck!

[2021-07-06 11:49] abhishek-kesharwani commented on #298
Thanks @AndrewLane
Plz help me once
If updated Event is not showing in google calendar but it is working properly in outlook then in that case what we can do. can we perform any changes ?

[2021-07-20 16:38] thetutlage opened #303 "Making peer dependencies less strict"
The `peerDependencies` defined in the package.json file https://github.com/sebbo2002/ical-generator/blob/develop/package.json#L68-L70 are a little more strict than they really have to be.

For example: I cannot use ical-generator with types from Node16 as the range defined is `^15.0.3`. Same is true with `luxon`.

Shouldn't we change them to accept anything greater than the supported version `>= 1

[2021-07-21 02:25] sebbo2002 commented on #303
You are absolutely right. I hope to find time to do it this week, I hope it's not time-critical.

[2021-07-22 13:25] #303 closed

[2021-07-22 13:28] sebbo2002 commented on #303
:tada: This issue has been resolved in version 3.0.0-develop.4 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/3.0.0-develop.4)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v3.0.0-develop.4)
- `v3.0.0-develop.4`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2021-07-23 06:03] thetutlage commented on #303
Thanks :)

[2021-08-26 10:37] adarrshpaul opened #309 "Doc needs to be updated"
1. ICalAlarm
2. ICalAttendee
3. ICalCategory

Docs is not present for these please update the doc, the links are not active

[2021-08-26 19:54] #309 closed, assigned to sebbo2002

[2021-08-31 08:14] sebbo2002 commented on #309
:tada: This issue has been resolved in version 3.0.1-develop.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/3.0.1-develop.1)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v3.0.1-develop.1)
- `v3.0.1-develop.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2021-09-02 02:16] jetstudio opened #312 "Using generator: getVtimezoneComponent"
I am getting errors when trying to generate ical like below
[code]
[code]
This is compilation error from vscode and I am able to get rid of it by running `npm i -D path`. But the second error is a runtime error from browser where it complains
[code]
I am not sure how to overcome this, it works fine if I remove `generator: icaltz.getVtimezoneComponent`, but the output result will not have `VTIMEZON

[2021-09-02 06:07] sebbo2002 commented on #312
@jetstudio I have only rudimentarily skimmed the code of ical-timezones, but as far as I can see, this module is not designed for use in browsers. Modules like `fs` or `path` are used here that do not exist in the browser. You would therefore either have to move this part to the backend or make sure that you get your hands on a generator that also works in the frontend (be it through a fork, imple

[2021-09-02 06:07] #312 closed

[2021-09-02 07:17] jetstudio commented on #312
Thanks for your quick response, moving the ical generation logic to backend sounds like a good move. Thanks for the idea.

[2021-09-07 11:16] AlexHorstkoetter opened #314 "Location formatting"
When specifying a location with a title, address, geolocation and radius the location attribute is emitted as "title" + "address".
But when specifying a location with just a title and an address, only the title is emitted and the address is swallowed.
I would have to manually concatenate title and address and pass them into title, which is not very intuitive and not documented anywhere. Is this in

[2021-09-09 10:15] #246 closed

[2021-09-12 19:53] sebbo2002 commented on #314
I am currently on holiday and do not have a laptop with me. Therefore, I will only be able to help after my vacation, as I would also have to do some research. I hope you can wait. Thank you

[2021-09-16 14:31] huksley commented on #298
answered in #273

```calendar.ttl(60)```

[2021-09-20 19:07] #314 closed

[2021-09-20 19:09] sebbo2002 commented on #314
:tada: This issue has been resolved in version 3.0.1-develop.3 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/3.0.1-develop.3)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v3.0.1-develop.3)
- `v3.0.1-develop.3`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2021-09-20 19:12] sebbo2002 commented on #298
@abhishek-kesharwani Could your problem be solved with @huksley's answer?

[2021-09-23 11:17] erseco opened #318 "Avoid adding newlines in SUMMARY"
In some cases, a SUMMARY can contain some new line characters (CRLF and/or LF), maybe it can be a good idea to sanitize the string to remove these characters because it causes an error to import the ical file. I detected this in the uoc.edu  internal campus.

An example of the wrong generated file:

[code]

[2021-10-01 15:50] sebbo2002 commented on #314
:tada: This issue has been resolved in version 3.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ical-generator/v/3.0.1)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v3.0.1)
- `v3.0.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-01 15:50] sebbo2002 commented on #309
:tada: This issue has been resolved in version 3.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ical-generator/v/3.0.1)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v3.0.1)
- `v3.0.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-03 22:49] adamreisnz opened #320 "Disable automagic `setZone`"
Hi, first of all thank you for a great library.

We pass in either moment or Luxon DateTime objects into ical-generator, but we already set the correct timezone on these objects manually.

Is it possible to disable the behaviour as documented here:

![image](https://user-images.githubusercontent.com/490562/135773994-f955d165-6604-4341-94b9-694f8bb1e0b0.png)

E.g. disable the `setZone` based on tim

[2021-10-04 07:29] sebbo2002 commented on #320
Currently, this is not planned.

Ideally, the change should make no difference because the time zone is already correct anyway. Unfortunately, a lot of questions arise here if the library doesn't automatically take care of this, so I decided to take this step, even though I personally don't find it nice. Moment objects are cloned before the time zone is set, so the original is never changed.

We c

[2021-10-04 08:01] adamreisnz commented on #320
Ok, I understand.

Well, I just find it rather confusing to figure out what will happen, and what we need to do on our end.
Basically, there are now 3 ways of passing the timezone:

* Set it on the moment/luxon object that you pass into the library
* Set it when creating an event
* Set it when creating the calendar

The problem is that I don't think this is properly documented and a lot of "magic"

[2021-10-04 12:01] sebbo2002 commented on #320
However, ical-generator is currently not aware of this. Yes, you can do that, but it should not be written anywhere in the documentation. After all, ical-generator can also handle normal date objects or moment (without moment-timezone). So you can't rely on timezone information on the incoming date object. Unfortunately.

Perfect. Then the time zone only applies to this one event.

Also good. This

[2021-10-04 20:11] adamreisnz commented on #320
Ok thanks for clarifying that. I think with this guidance in mind it becomes fairly straightforward. Since we only use a single ical instance to generate one invite per email, I'll probably stick to passing it per event and ignore passing it to the calendar. In combination with passing in luxon objects, this should work as I want it to.

I did note an issue yesterday, and I am not sure if this is

[2021-10-04 21:29] sebbo2002 commented on #320
That should definitely work. [Here](https://github.com/sebbo2002/ical-generator/blob/develop/test/cases.ts#L99) is an example in the tests, the result looks like [this](https://github.com/sebbo2002/ical-generator/blob/develop/test/results/generate_04.ics#L38).

If you have a small code example where it doesn't work like this, I would be very happy about it so I can add it to the tests. That would

[2021-10-05 20:18] adamreisnz commented on #320
Ok I'll see if I can replicate it in isolation

On Tue, 5 Oct 2021 at 10:29, Sebastian ***@***.***> wrote:

[2021-10-08 17:45] sebbo2002 commented on #318
I finally got around to looking at the issue. This library uses the [`escape()`](https://github.com/sebbo2002/ical-generator/blob/develop/src/tools.ts#L118) method to escape the data that should be in the summary. Among other things, the newline (`\n`) mentioned here is escaped with a `\`. There are also corresponding [tests](https://github.com/sebbo2002/ical-generator/blob/develop/test/tools.ts#L

[2021-10-10 06:45] hailiang-wang opened #321 "Solve my big problem, thanks for your great works, all of you!"
Huge thanks!

[2021-10-15 14:32] sebbo2002 commented on #318
When I build an example with the current version of ical-generator, with a very long description like in your example, I still get valid ical output at the end:

[code]

[code]

I would close the ticket for now, feel free to reopen it if you have a code example for me that produces invalid code.

[2021-10-31 19:07] ehynds opened #323 "HTML in event descriptions"
Hi, thanks for the great library.

I noticed that ical-generator [escapes all quote characters](https://github.com/sebbo2002/ical-generator/blob/7e7eb623cd42e80bff4eaa68172e6dbdb13b1da2/src/tools.ts#L119-L120) even inside event descriptions, which results in invalid HTML.

Given a simple description value of:

[code]

The result after running through `createEvent` is:

[code]

What is the proper g

[2021-11-01 22:15] sebbo2002 commented on #323
Use an object with `plain` and `html` key to specify both a text and an HTML description. The interface for this is [documented here](https://sebbo2002.github.io/ical-generator/develop/reference/interfaces/ICalDescription.html).

### Example

[code]

[code]

[2021-11-01 22:15] #323 closed

[2021-11-04 14:28] Pflyg opened #325 "ReferenceError: Buffer is not defined"
When I try to use the toString method in browser (webpack), I get the following Error
[code]

Same with toURL and toBlob

[2021-11-04 18:39] sebbo2002 commented on #325
Oh crap. Sorry, currently `ical-generator` is not usable in the browser. The reason is [this line](https://github.com/sebbo2002/ical-generator/blob/fba27406775164a1c2dfad0f703b2a3b207f445c/src/tools.ts#L139), which currently does not work in the browser. I will provide a fix as soon as I get to it.

[2021-11-04 20:13] #325 closed

[2021-11-04 20:16] sebbo2002 commented on #325
:tada: This issue has been resolved in version 3.0.2-develop.2 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/3.0.2-develop.2)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v3.0.2-develop.2)
- `v3.0.2-develop.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2021-11-07 11:23] pezza3434 opened #328 "Setting timezone as UTC creates strange behaviour"
Hi there,

Thanks for a maintaining this great package, I've been using it for a few years. I've just upgraded to the latest version from 1.4.3.

Just a heads up, that setting the timezone to utc:

`const cal = ical({
        domain: "eventcalendarapp.com",
        name: calendarName,
        timezone: "UTC",
        method: "publish"
    });`

Stops the DTStart and DTEnd dates from being created

[2021-11-07 11:26] pezza3434 commented on #328
Related to this, if you set UTC as a timezone for an event, the dates become 'TZID=UTC 2021blahblah'. I'm not sure if setting the TZID on an event to utc is ever valid based on this from the spec:

"This parameter MUST be specified on the "DTSTART",
      "DTEND", "DUE", "EXDATE", and "RDATE" properties when either a
      DATE-TIME or TIME value type is specified and when the value is
      neith

[2021-11-07 17:27] sebbo2002 commented on #328
Currently UTC is the default and therefore does not need a call to `timezone()`. The call with `timezone('UTC')` currently causes incorrect output, I would now note this here as a bug. The correct call for UTC would be `timezone(null)` or no call at all.

[2021-11-08 16:46] #328 closed

[2021-11-08 16:48] sebbo2002 commented on #328
:tada: This issue has been resolved in version 3.1.0-develop.2 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/3.1.0-develop.2)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v3.1.0-develop.2)
- `v3.1.0-develop.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2021-11-15 18:51] oceansam commented on #323
@sebbo2002

Would like to note that replicating the code provided above returned a a object as the description instead of the rendered content. May I know what version of the package would this feature be excluded from?

`"ical-generator": "^1.15.0",`

[code]
Returned me,

![image](https://user-images.githubusercontent.com/56453957/141837565-d49ea8d8-4747-4945-b76e-426f520dc163.png)

[2021-11-15 19:05] sebbo2002 commented on #323
Oh man, you should update. Is there any reason not to use the current version?

The above behaviour applies for v2.0.0 and later. Before that, there was an `htmlDescription()` method for HTML descriptions. I can't tell you exactly when this method was added, though, since I only support the current major version.

[2021-11-15 19:07] oceansam commented on #323
Thanks for the fast reply, and gotcha that would make sense. I'll look for bumping the package up. Appreciate it!

[2021-11-17 21:34] sebbo2002 commented on #328
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ical-generator/v/3.1.0)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v3.1.0)
- `v3.1.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-17 21:34] sebbo2002 commented on #325
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ical-generator/v/3.1.0)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v3.1.0)
- `v3.1.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-04 10:15] #298 closed

[2021-12-14 08:05] Timebutt opened #335 "Support for attachment property"
Hi! I noticed the current `ICalEvent` and `ICalEventData` don't support the `ATTACH` property when creating an event through `createEvent`, [as defined in the spec](https://www.kanzaki.com/docs/ical/attach.html).

Are there any plans to add support, or should we get an implementation running using the last property of `ICalEventData`?

[code]

Thanks!

[2021-12-14 08:26] sebbo2002 commented on #335
So far there has been no demand for it and therefore no plans to implement it. Definitely makes sense though and I would look into it when I get the time. Honestly though, I have to say that this probably won't be the case until early next year.

If this is too long for you, feel free to use `x()` or you can prepare a pull request.

[2021-12-14 08:59] Timebutt commented on #335
Thanks for your reply ;) I'll have a look at how I'll set it up, and might propose a PR to implement this feature!

[2021-12-14 09:03] sebbo2002 commented on #335
If you have any questions, feel free to contact me here. I will try to answer them in a timely manner.

[2021-12-22 10:16] #320 closed

[2022-01-03 17:36] sebbo2002 commented on #335
:tada: This issue has been resolved in version 3.2.0-develop.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/3.2.0-develop.1)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v3.2.0-develop.1)
- `v3.2.0-develop.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2022-01-03 18:36] Timebutt commented on #335
Hey @sebbo2002, I see you added support for `attachments`, great! I was just wondering, is the `url` the only property you need for this to work? I actually started implementing this myself a little while back, and did things a bit differently. [This](https://github.com/Timebutt/ical-generator/tree/add-support-for-attachments) is my branch and implementation. It has support for the `fileName`, on

[2022-01-03 18:42] sebbo2002 commented on #335
I stuck with the spec and tested it with Apple's Calendar. Has worked flawlessly. Google Calendar I have not tested because I do not use that, but I assume that they stick to the spec or not?

<img width="343" alt="Bildschirmfoto 2022-01-03 um 19 40 55" src="https://user-images.githubusercontent.com/812398/147967269-3d1c439d-da45-4944-9140-0fe358a39486.png">

[2022-01-03 18:43] Timebutt commented on #335
AFAIK they do yes, looks like I made a mistake on my end then, will have a look and see if anything might need changes for Google Calendar 👌

[2022-01-03 20:34] sebbo2002 commented on #335
Sounds good. Then I wait with the release (#339) until you have tested it with Google Calendar and given the okay.

[2022-01-03 22:14] Timebutt commented on #335
K just tested this, and I see it works when directly importing the `.ics` file (as did my solution). It doesn't work for me, when I fetch it from a remote location through a subscription, which is what my application aims to achieve. Will dig in a bit deeper if I can make it work that way, but basically the functionality is correct 👌

[2022-01-04 08:04] sebbo2002 commented on #335
Oh wow. And with filename it works? Thanks for your research.

[2022-01-04 08:17] Timebutt commented on #335
No, the presence of a file name or even the `FMTTYPE` property makes no difference from what I've found so far :/

[2022-01-04 11:05] sebbo2002 commented on #335
Maybe the embedding of files directly works? I thought I leave that out, because the feeds are really unattractive large, but if it does not work otherwise we should adjust that again.

[2022-01-04 11:22] Timebutt commented on #335
Might work, although I can imagine they'll strip that as well, on top of the the very undesirable fact that the calendar file might become huge as well :/

[2022-01-10 13:10] samberic opened #340 "Attendee RSVP is not honoured when value is false"
Apologies for not raising this as a PR fix- I'll try and find time this week if you can't get their first.

For attendee if it's set to false then it isn't represented in the iCal object.  This is due to the code at https://github.com/sebbo2002/ical-generator/blob/develop/src/attendee.ts#L548-L550

`   if (this.data.rsvp) {
            g += ';RSVP=' + this.data.rsvp.toString().toUpperCase();

[2022-01-10 13:56] sebbo2002 commented on #340
I can possibly take care of it tonight, thank you.

[2022-01-10 14:56] Timebutt commented on #335
Not yet, haven't been able to investigate more because of other work. I honestly don't think that it's related to the implementation of this package, rather in the way that both Google Calendar as well as iCal treat calendar subscriptions, feels like they might be sanitizing attachments for security reasons. I'll see if I get some more time in the near future to investigate, but meanwhile I'd argu

[2022-01-10 15:48] sebbo2002 commented on #335
That makes sense. Then I'll mark this ticket as closed, then I can publish this within the next few days together with #340. If you find out anything in your investigation, feel free to let me know.

[2022-01-10 15:48] #335 closed

[2022-01-10 21:06] #340 closed

[2022-01-10 21:08] sebbo2002 commented on #340
:tada: This issue has been resolved in version 3.2.0-develop.2 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/3.2.0-develop.2)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v3.2.0-develop.2)
- `v3.2.0-develop.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2022-01-12 19:11] sebbo2002 commented on #340
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ical-generator/v/3.2.0)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v3.2.0)
- `v3.2.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-12 19:11] sebbo2002 commented on #335
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ical-generator/v/3.2.0)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v3.2.0)
- `v3.2.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-18 14:08] Loskir opened #343 "Documentation website does not work"
https://sebbo2002.github.io/ical-generator returns 404

[2022-01-18 14:59] sebbo2002 commented on #343
There is no documentation on this page, it is on https://sebbo2002.github.io/ical-generator/develop/reference/. This is also correctly linked in the readme as far as I can see. Where did you get this link?

[2022-01-18 20:28] #343 closed

[2022-01-18 20:29] sebbo2002 commented on #343
I have adjusted the corresponding urls in the code, with the new version the problem should be fixed then.

[2022-01-18 20:30] sebbo2002 commented on #343
And: Thank you for reporting. ❤️

[2022-01-18 20:32] sebbo2002 commented on #343
:tada: This issue has been resolved in version 3.2.1-develop.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/3.2.1-develop.1)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v3.2.1-develop.1)
- `v3.2.1-develop.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2022-01-21 20:29] midzdotdev opened #344 "Require email for attendee"
Just tried to submit a PR and failed.

I've tried to create events with attendees who have no email and it this library throws. I feel that the types for `ICalInternalAttendeeData` and other relevant types should indeed require `email`.

[2022-01-21 20:31] james2mid commented on #344
It's when the Attendee is stringified and throws for a falsy email [on this line](https://github.com/sebbo2002/ical-generator/blob/c6e79f796c02a24430d2248f2fcf4be6d5d3c43b/src/attendee.ts#L531)

I think allowing constructing an attendee with a falsy email is confusing. I suppose this would also apply to the `email` setter
accepting falsy values too.

[2022-01-21 20:32] james2mid commented on #344
Awesome library btw! ❤️

[2022-01-21 20:56] sebbo2002 commented on #344
In fact this is true for all mandatory fields in ical-generator. The reason for this is that ical-generator has always allowed you to use the setters, in this case `email()` for example, and you are not required to include all the data with the constructor. This is currently absolutely valid code, for example:

[code]

I understand that this is a bit weird, but I hope that the exceptions is meanin

[2022-01-22 17:36] james2mid commented on #344
Yes thank makes perfect sense. I'm personally a big fan of immutable data structures and so recreating when a change is needed. In this case, there can never be an event or an attendee with a state which cannot be stringified to iCalendar.

It sounds like your moving towards that a little bit in the next breaking version you mentioned.

I wish you the best with this :)

[2022-01-22 18:06] sebbo2002 commented on #344
I hope so, thank you very much. I would close the ticket for now, okay?

[2022-01-28 09:54] sebbo2002 commented on #343
:tada: This issue has been resolved in version 3.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ical-generator/v/3.2.1)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v3.2.1)
- `v3.2.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-04 16:58] ynynl opened #349 "Reapting weekly not working correctly"
I have created a calendar event that last for two days, and I want to the event to repeat weekly. Here is my code:

[code]
Jan 30th and Jan 31st is Sunday and Monday. So basically I want the events take place every week from Sunday to Monday.

But what happened is that the calendar that created only work correctly until March 13th. Starting March 13th, the events start on Monday and end on Tuesday

[2022-02-04 17:19] sebbo2002 commented on #349
I guess that in your time zone the clock will be changed on March 13? You are currently creating a calendar with UTC time zone, which means as soon as the clock is changed, this is no longer correct.

You can now either specify the appropriate time zone that should be applied to your calendar (see also [the note on time zones in the readme](https://github.com/sebbo2002/ical-generator#-date-time--t

[2022-02-04 17:19] #349 closed

[2022-03-17 13:22] vlamicsecure opened #358 "Is there a way to specify "SENT-BY" for organizer field of the event?"
Hi,

Is there a way to specify "SENT-BY" for organizer field of the event? I haven't found in the docs and wonder if that's something I have missed or it's not supported. Alternatively, is it possible to set a raw data for the selected field?

Thank you for a great library!

Regards,
Vlad

[2022-03-17 13:24] KrisLau commented on #50
@chaitanyaprem What did you end up doing? I'm trying to create an ical link where the user can sync their personal calendar (Google, Apple, Outlook, etc) with the ical as events are added

[2022-03-17 16:34] vlamicsecure commented on #358
Perfect, thanks @sebbo2002!

[2022-03-17 17:02] vlamicsecure commented on #358
@sebbo2002 trying to use the `x()` method, but getting error that the name of the attribute must start with `X-`. Is there any workaround about it?

[2022-03-18 08:56] sebbo2002 commented on #358
Oh no, sorry, forgot that one. I can try to add support over the weekend. Would that be fast enough or do you need it immediately? Because then you would have to look for alternatives.

[2022-03-18 09:18] vlamicsecure commented on #358
That would be great @sebbo2002 if you can add it over the weekend! :)

[2022-03-18 14:16] KrisLau opened #359 "Sync calendars"
So I'm working on a react native app with a NodeJS backend that has a calendar with possibly recurring events. I'm storing the events, individual event occurrences, and attendees in my DB. I'm trying to figure out how to allow users to sync their calendars with Google calendars, outlook, apple calendars, etc using a link.

From my understanding that would require me to create an ICS file with a pu

[2022-03-19 14:35] sebbo2002 commented on #359
ical-generator is normally used in a way that all data like events, etc. are already available in a database or similar and then ical files are created either on-demand (e.g. with [serve](https://sebbo2002.github.io/ical-generator/develop/reference/classes/ICalCalendar.html#serve)) or periodically (e.g. with [save](https://sebbo2002.github.io/ical-generator/develop/reference/classes/ICalCalendar.h

[2022-03-19 14:35] #359 closed

[2022-03-19 15:29] sebbo2002 commented on #358
Can you try the develop build (`npm i ical-generator@3.3.0-develop.1`) and see if that works for you?

[2022-03-21 10:13] 0mppula opened #361 "Is there any way of changing the default filename from "invite.ics""
Is there any way of changing the default filename from "invite.ics"

[2022-03-21 10:17] #361 closed

[2022-03-29 07:52] lourencelinao opened #364 "ICS generate"

[2022-03-29 07:54] lourencelinao opened #365 "Generated ICS is off by one hour in outlook."
I have different users from different timezones and I've noticed that for some timezones, the generated ical calendar is off by one hour in outlook. Please help.

[2022-03-29 07:54] #364 closed

[2022-03-29 10:07] sebbo2002 commented on #365
If you want to generate an event that takes place in every time zone at the same time, you can use [`floating(true)`](https://sebbo2002.github.io/ical-generator/develop/reference/classes/ICalEvent.html#floating).

[2022-03-29 10:07] #365 closed

[2022-03-29 21:14] KrisLau opened #366 "Recurring event first instance not matching rrule"
Kind of a weird problem but several of my recurring events seem to be acting strange. So for example, I created a MWF 6:30 - 7:30am recurring event with a dtstart of today(Tuesday) so the first instance should be tomorrow (Wednesday).  But in generated ics file it is seems to be including today. Left is the first occurrence generated by the [jakubroztocil/rrule](https://github.com/jakubroztocil/rr

[2022-03-29 21:30] KrisLau commented on #366
I have an idea for a hacky fix where I could just call `rrule.all()[0]` to get the first occurrence and use that as the start date but that seems extremely hacky hahah

[2022-03-30 08:21] sebbo2002 commented on #366
No, you are doing everything right so far. There is currently no way to use start and end only as bounds for the rrules. For this, `ical-generator` would have to be able to parse and interpret these rules again, so I left that out explicitly (ical-generator allows not only to specify a rrule object, but also to pass a string, so I can't rely on a rrule-Object).

If you have any questions, feel fre

[2022-03-30 08:21] #366 closed

[2022-04-20 18:09] julianh2o opened #377 "Escaping double-quote characters"
Hey Sebbo,

Thanks for a wonderful package, this has been great for my project in working with external calendar apps.

One question, why are double quote characters being escaped (it seems like this is being done to various fields, but notably summary).

To reproduce:
[code]

Is the double quote an illegal character in an ICS field? Most of the applications that I'm sending this ICS to are render

[2022-04-25 18:50] sebbo2002 commented on #377
The `escape()` method currently seems to escape all strings as if they were enclosed in quotes. Which of course is not the case for fields like `summary` or `description`. I'll have a look at it during the week, but I might not get around to it until the weekend. Unfortunately I can't estimate that yet.

[2022-04-26 18:54] KrisLau commented on #359
@FabianMeul The client calendar feed automatically hits the endpoint you give it to sync at intervals that differ based on the application. At least that is my understanding of it based on other sites that implement similar features. This one is the clearest answer I've seen so far:
https://www.addevent.com/help/article/52/how-often-do-my-calendar-events-update-in-subscribers-calendars

[2022-04-27 16:20] #377 closed

[2022-04-27 16:23] sebbo2002 commented on #377
:tada: This issue has been resolved in version 3.4.2-develop.2 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/3.4.2-develop.2)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v3.4.2-develop.2)
- `v3.4.2-develop.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2022-04-27 18:08] julianh2o commented on #377
@sebbo2002 , thanks so much! Much appreciated :D

[2022-04-28 10:26] sebbo2002 commented on #377
:tada: This issue has been resolved in version 3.4.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ical-generator/v/3.4.2)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v3.4.2)
- `v3.4.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-06-17 15:54] KrisLau commented on #153
I would love this feature! In my app users can subscribe to multiple calendars and I would love to set a kind of global color for each of the calendars so that it's easier to differentiate between them

[2022-07-02 00:12] octogonz opened #405 "Make optional peer dependencies actually optional"
[code]

For TypeScript users, [the above advice](https://github.com/sebbo2002/ical-generator/blob/9067c91e610163a05b9c1a254cd6ab4c8ce9c69d/README.md?plain=1#L32) defeats the purpose of declaring the vendor packages as "optional." This is unfortunate, since people who use TypeScript tend to be the audience who cares most about rigorous management of dependencies.😉

Is there a better solution?  Here

[2022-07-04 10:14] sebbo2002 commented on #405
Hi @octogonz, I'm still on vacation until July 17, so please excuse my very short answer.

Solution number 1 has been on my todo list for quite some time for the next refactoring with several breaking changes, which I haven't gotten to yet due to time constraints.

I haven't thought about solution number 2 at all and it seems very interesting to me because it would be implementable with relatively

[2022-07-05 09:16] octogonz commented on #405
Thanks for the reply. Have a good vacation!

[2022-07-25 14:03] #405 closed

[2022-07-25 14:05] sebbo2002 commented on #405
:tada: This issue has been resolved in version 3.5.0-develop.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/3.5.0-develop.1)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v3.5.0-develop.1)
- `v3.5.0-develop.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2022-07-25 14:08] sebbo2002 commented on #405
Hi @octogonz, sorry it took so long now. I have implemented suggestion no. 2 and published it in version `3.5.0-develop.1`. Feel free to have a look if this fits for you now, am open for feedback.

[2022-07-25 20:59] octogonz commented on #405
I tested `ical-generator@3.5.0-develop.1` and it solved my problem. 👍👍

Thank you for making this fix!

[2022-07-27 12:18] sebbo2002 commented on #405
:tada: This issue has been resolved in version 3.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ical-generator/v/3.5.0)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v3.5.0)
- `v3.5.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-27 22:23] dargmuesli opened #411 "Incorrect typing for `event.start` in v3.5.0"
[Upgrading to v3.5.0](https://github.com/maevsi/maevsi/pull/722) I face the linter error [`Type 'Moment' is missing the following properties from type 'ICalMomentTimezoneStub': tz, _isAMomentObject`](https://github.com/maevsi/maevsi/runs/7548582061?check_suite_focus=true#step:5:1618) on [`event.start`](https://github.com/maevsi/maevsi/blob/master/nuxt/server/api/ical.ts#L61).
I'm using ["moment":

[2022-07-28 15:03] sebbo2002 commented on #411
Oh yeah, that's definitely an error from the stub typings. I'll take a look...

[2022-07-28 15:08] #411 closed

[2022-07-28 15:11] sebbo2002 commented on #411
:tada: This issue has been resolved in version 3.5.1-develop.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/3.5.1-develop.1)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v3.5.1-develop.1)
- `v3.5.1-develop.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2022-07-28 15:18] sebbo2002 commented on #411
:tada: This issue has been resolved in version 3.5.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ical-generator/v/3.5.1)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v3.5.1)
- `v3.5.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-31 12:32] DieserMerlin commented on #153
I'd really appreaciate the implementation as it wouldn't really increase the complexity or bundle size by a noteworthy amount but add a feature that has become part of the specification and is not really an edge case.

A possible workaround atm is a helper class like this:
[code]

Now you can add an event with a color:
[code]

Output:
[code]

Would be even more cleanly with an enum containing all

[2022-08-31 13:21] KrisLau commented on #153
@sebbo2002

[2022-08-31 18:55] sebbo2002 commented on #153
@KrisLau @DieserMerlin Do we now know which clients understand the color property at all? As far as I remember, I only didn't implement this feature because I [didn't know of any client](https://github.com/sebbo2002/ical-generator/issues/153#issuecomment-518978030) that even pays attention to the color property.

[2022-08-31 20:08] KrisLau commented on #153
@sebbo2002 Hmm i think you're right from what I can tell searching online, I can't find clients that support this. I also tested with an ics file on google calendar and a mac calendar that it ignores the color property. I assumed it was possible because of one of the apps I use but it seems like they use something else probably (they use webcal instead of ics so i can't check how). Sorry to waste

[2022-09-01 06:15] sebbo2002 commented on #153
Okay. So if someone knows a client that has a significant distribution and has implemented this feature, I'm definitely willing to implement the color feature. But as long as there is no client for it, I honestly don't see the need for it.  This only creates open issues again, because the feature doesn't work as the user imagines it.

Therefore: If someone finds a client, please open the ticket ag

[2022-09-16 13:50] J-Zet opened #425 "Feature Request: Implement parsing (from ical string)"
Hi there,

first of all: great project, I really appreciate your work on it and it is of great use for me.

However so far I need an additional dependency just for parsing and then manually need to transform from the result object to an equivalent object of your project.

Is there any chance you implement parsing into this lib aswell?

Thanks & BR

[2022-09-17 12:14] sebbo2002 commented on #425
Honestly, I think parsing ical files is a completely different use case in most cases. I think that the use case of editing a ical file from a foreign source is also comparatively small, so I can't imagine this feature at the moment.

If the use case allows it, I would always recommend to save the JSON representation next to the ical file. This JSON can later be passed back into ical-generator and

[2022-09-17 12:14] #425 closed

[2022-09-23 09:24] mbaertschi opened #426 "Sourcemap points to excluded ../src/index.ts file"
Hi

Thanks for the great module!

I found an issue with the generated dist/index.js.map file. The sources attribute points to ../src/index.ts. However, src directory is not included in your npm package. Thus if I use this module with nuxt3 I get the following error message:

[code]

Could you either include src directory in npm packge or make sure that the sources attribute points to ./index.js?

[2022-09-24 17:07] #426 closed

[2022-09-24 17:09] sebbo2002 commented on #426
:tada: This issue has been resolved in version 3.5.2-develop.2 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/ical-generator/v/3.5.2-develop.2)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v3.5.2-develop.2)
- `v3.5.2-develop.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :

[2022-09-24 17:18] sebbo2002 commented on #426
:tada: This issue has been resolved in version 3.5.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ical-generator/v/3.5.2)
- [GitHub release](https://github.com/sebbo2002/ical-generator/releases/tag/v3.5.2)
- `v3.5.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-26 21:46] grrbm opened #435 "Support for Dates with no Time specified"
Do you plan to support creating events with the dates only, like this:

DTSTART;VALUE=DATE:20221027
DTEND;VALUE=DATE:20221030

instead of:

DTSTART:20221027T000000Z
DTEND:20221030T000000Z

This seems to be the format used by airbnb iCal file nowadays

[2022-10-27 05:44] sebbo2002 commented on #435
If you want to create an all-day event, please use the [`allDay` parameter](https://sebbo2002.github.io/ical-generator/develop/reference/classes/ICalEvent.html#allDay):

[code]

[code]

Feel free to reopen the ticket if you have further questions about this.

[2022-10-27 05:44] #435 closed

[2022-11-23 17:02] Loskir opened #441 "Deno support"
Thank you for the wonderful library! Just asking: is deno/browser support planned? There is only one dependency so it should be easy to support Deno

[2022-11-23 18:46] sebbo2002 commented on #441
Deno support is currently not on my list, unfortunately I didn't had time for it yet. However the dependency `uuid-random` is browser compatible, so ical-generator should also work in the browser as long as you don't use methods that use `fs` for example.

[2022-11-23 23:09] Loskir commented on #441
It was indeed very easy!
Working deno version available here: https://github.com/Loskir/ical-generator/tree/deno
Do you mind if I publish it on https://deno.land/x?
However, supporting deno "natively" is a bit harder and requires some changes to the project structure. When you write deno+node packages, you usually write deno first and then backport in to node (see [grammY](https://github.com/gramm

[2022-11-24 06:10] sebbo2002 commented on #441
As I said before, unfortunately I don't have time to deal with it at the moment. I don't know off the top of my head if you can dynamically distinguish deno / node.js and accordingly have a library that uses node or deno libraries depending on the environment, that would be very interesting. But for a complete rewrite I currently lack capacity, forks are of course welcome here.

ical-generator is

[2022-11-26 21:45] arnim279 opened #442 "Floating repeating events"
There are some problems with floating, repeating events.
Currently, a floating, repeating event looks like this:
[code]
As you can see, the `DTSTART` and `DTEND` datetimes are 'floating', so they don't end with the `Z` UTC time zone specifier.
The `RRULE:UNTIL` and `EXDATE` properties however are still treated as UTC datetimes. In my case, the `RRULE:UNTIL` property is not affected, but I imagine

[2022-11-26 21:47] arnim279 commented on #442
Oh, and another problem I just noticed: when I pass `2022-11-25T09:25:00` as the start datetime to a 'floating' event, the date time always gets converted to UTC, so in this case the `DTSTART` is `20221125T082500` which is an hour earlier than it's meant to be.

[2022-11-30 17:37] dsl101 commented on #425
I was going to ask about this too. The use case is handling the RSVP loop—ical generated and sent to people using this library then needs to read in their response. It would be great not to have 2 separate ical handling libraries, but if it's unlikely to be added, I guess that's the only way.